---
title: Accueil
description: >-
  Une journée de conférences dédiées à la performance web. Métriques, UX, optimisations du code et des images. Venez rencontrer les experts !
i18n-key: 2023-home
permalink: /2023/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" loading="lazy"/>
      <div class="home-main-title-baseline">
        {{ site.data.editions[page.year].tagline[page.locale] }}<br>
        <small>L’événement français des mordus de web performance reviendra en mai 2023, à Paris !</small></small>
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      {%- comment -%}<a class="button" data-text="présentations et vidéos" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "interventions" | t: page.locale }}/" title="présentations et vidéos">
        <span class="button-inner">présentations et vidéos</span>
      </a>{%- endcomment -%}
      {%- comment -%}<a class="button" data-text="témoignages" href="{{ page.baseurl | default:site.baseurl }}/{{ "temoignages" | t: page.locale }}/" title="témoignages">
        <span class="button-inner">témoignages</span>
      </a>{%- endcomment -%}
      {%- comment -%}<a class="button" data-text="photos ({{ site.data.editions[page.year].pictures.title }})" href="{{ site.data.editions[page.year].pictures.url }}" title="photos ({{ site.data.editions[page.year].pictures.title }})">
        <span class="button-inner">photos ({{ site.data.editions[page.year].pictures.title }})</span>
      </a>{%- endcomment -%}
      {% if site.current_edition != page.year %}
        <a class="button" data-text="{% t Voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t Voir l'édition courante %}">
          <span class="button-inner">{% t Voir l'édition courante %}</span>
        </a>
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale year=page.year %}
{% endif %}

  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Ne ratez rien !</h2>
      <p>
        Abonnez-vous à notre liste d'envoi pour recevoir des informations sur l'événement par courriel.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>

{% include banners/banner-anthony-delanoix-eiffel-unsplash.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Le seul événement français dédié aux amateurs et amatrices de cascades&nbsp;!</h2>
    <p>Créé en 2018 par et pour la communauté, la conférence à but non-lucratif {{ site.title }} est née de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnel·les du web, de l’e-commerce et expert·es de la webperf, cet événement est fait pour vous&nbsp;!</p>
    <p>Décideur·euses, développeur·euses… retrouvons-nous pour une journée, et peut-être quelques soirées, dans une des plus belles villes de France, afin d'échanger sur la WebPerf : ses enjeux, son implémentation, ses acteur·trices mais aussi l'organisation des entreprises qui l'implémentent.</p>
    <p class="text-center">
      <a class="button" data-text="{% t Voir les vidéos des années précédentes %}" href="https://www.youtube.com/welovespeed" title="{% t Voir les vidéos des années précédentes %}">
        <span class="button-inner">{% t Voir les vidéos des années précédentes %}</span>
      </a>
    </p>
  </div>
</section>

{% include banners/banner-roundtable.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Nos sponsors Gold</h2>
    <p>E-commerçants, éditeurs de solutions, prestataires de services, ils ont choisi de nous soutenir par amour de l'UX et de la performance Web. Sans eux, point d'événement. Merci beaucoup !</p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="télécharger notre dossier sponsor (560&nbsp;Ko)" href="{{ site.sponsoring[page.locale] | relative_url }}"><span class="button-inner">télécharger notre dossier sponsor (560&nbsp;Ko)</span></a>
    </p>
  </div>
</section>

{% include banners/banner-cocktail.html locale=page.locale %}

<section id="staff" class="section">
  <div class="wrapper">
    {% include staff.html year=year %}
  </div>
</section>
