---
title: Accueil
description: >-
  Une journée de conférences dédiées à la performance web. Métriques, UX, optimisations du code et des images. Venez rencontrer les experts !
i18n-key: 2023-home
permalink: /2023/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" loading="lazy"/>
      <div class="home-main-title-baseline">
        {{ site.data.editions[page.year].tagline[page.locale] }}<br>
        <small>L’événement français des mordus de web performance, bientôt à Paris !</small>
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      {%- if site.cfp_open -%}<a class="button" target="_blank"  data-text="Appel à propositions" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/cfp" title="appel à propositions">
        <span class="button-inner">Appel à propositions</span>
      </a>{%- endif -%}
      <a class="button" data-text="Voir le programme" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "interventions" | t: page.locale }}/" title="Voir le programme">
        <span class="button-inner">Voir le programme</span>
      </a>
      {%- comment -%}
      <a class="button" data-text="Témoignages" href="{{ page.baseurl | default:site.baseurl }}/{{ "temoignages" | t: page.locale }}/" title="témoignages">
        <span class="button-inner">Témoignages</span>
      </a>
      <a class="button" data-text="Photos ({{ site.data.editions[page.year].pictures.title }})" href="{{ site.data.editions[page.year].pictures.url }}" title="photos ({{ site.data.editions[page.year].pictures.title }})">
        <span class="button-inner">Photos ({{ site.data.editions[page.year].pictures.title }})</span>
      </a>
      {%- endcomment -%}
      {% if site.current_edition != page.year %}
        <a class="button" data-text="{% t Voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t Voir l'édition courante %}">
          <span class="button-inner">{% t Voir l'édition courante %}</span>
        </a>
      {% else %}
      {% if site.tickets.selling %}
        <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/{{ "billetterie" | t: page.locale }}" title="{% t Réserver votre place %}">
          <span class="button-inner">{% t Réserver votre place %}</span>
        </a>
      {% endif %}
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale year=page.year %}
{% endif %}

{% if site.nlOnTop %}
  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Ne ratez rien !</h2>
      <p>
        Abonnez-vous à notre liste d'envoi pour recevoir des informations sur l'événement par courriel.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>
{% endif %}

{% include banners/banner-anthony-delanoix-eiffel-unsplash.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">À propos de We Love Speed</h2>
    <p>Créé en 2018 par et pour la communauté, la conférence à but non-lucratif {{ site.title }} est née de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnel·les du web, de l’e-commerce et expert·es de la webperf, cet événement est fait pour vous&nbsp;!</p>
    <p>Nous attendons près de 250 participants dont des profils décideurs, développeurs, passionnés ou experts en performance web comme chaque année. Mais en 2023, nous souhaitons contribuer encore un peu plus à la démocratisation de la web performance.</p>
    <p>C’est pourquoi nous visons, pour cette édition, un public plus hétéroclite, incluant des profils tels que des Chief Digital Officer, e-commerce, marketing ou encore SEO. Nous sélectionnerons donc des conférences adaptées à toutes les sensibilités. Il y en aura pour tous les goûts !</p>
    <p class="text-center">
      <a class="button" target="_blank" data-text="{% t Voir les vidéos des années précédentes %}" href="https://www.youtube.com/welovespeed" title="{% t Voir les vidéos des années précédentes %}">
        <span class="button-inner">{% t Voir les vidéos des années précédentes %}</span>
      </a>
    </p>
  </div>
</section>

{% if site.infos.display %}
{% include banners/banner-alex-harmuth-cafe-unsplash.html locale=page.locale %}

<section class="section" id="location">
  <div class="wrapper">
    <h2 class="text-center">Le lieu de l’événement</h2>
    <p>
       Rendez-vous à l'Espace Saint-Martin, en plein <strong></strong>centre de Paris</strong>.
    </p>
    <div class="grid-3">
      <figure role="group" aria-labelledby="fig1">
        <a href="/assets/images/2023/location/1.png" target="_blank">{% cloudinary /assets/images/2023/location/1.png alt="Une salle de conférence prise en photo depuis l'arrière. Plusieurs centaines de chaises en plastique mauve font face à un grand écran." %}</a>
        <figcaption id="fig1" class="text-xs text-center">
          La sous-verrière à l’architecture atypique de la salle Philae.
        </figcaption>
      </figure>
      <figure role="group" aria-labelledby="fig1">
        <a href="/assets/images/2023/location/2.png" target="_blank">{% cloudinary /assets/images/2023/location/2.png alt="Un spacieux espace de réception blanc et brillant." %}</a>
        <figcaption id="fig1" class="text-xs text-center">
          La galerie est espace très clair, idéal pour les réceptions.
        </figcaption>
      </figure>
      <figure role="group" aria-labelledby="fig1">
        <a href="/assets/images/2023/location/3.png" target="_blank">{% cloudinary /assets/images/2023/location/3.png alt="Un auditorium d'environ 300 fauteils, pris en photo depuis son arrière gauche. On y devine un écran géant surplombant un large espace scénique." %}</a>
        <figcaption id="fig1" class="text-xs text-center">
          Le grand auditorium et son large espace scénique.
        </figcaption>
      </figure>
    </div>
    <p class="text-center">
      <a class="button" data-text="Informations Pratiques" target="_blank" href="{{ page.baseurl | default:site.baseurl }}/2023/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">Informations Pratiques</span></a>
    </p>
  </div>
</section>
{% endif %}

{% include banners/banner-alex-harmuth-cafe-unsplash.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Ils nous soutiennent !</h2>
    <p>E-commerçants, éditeurs de solutions, prestataires de services, ils nous souteniennent par amour de l'UX et de la performance Web. Sans eux, point d'événement. Merci beaucoup !</p>
    <p class="text-center">
      <a class="button" data-text="Voir plus" target="_blank" href="{{ page.baseurl | default:site.baseurl }}/{{year}}/{{ "merci" | t: page.locale }}/"><span class="button-inner">Voir plus</span></a>
    </p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year  hideOthers=false %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="Télécharger notre dossier sponsor ({{ site.sponsoring[page.locale].size }})" target="_blank" href="{{ site.sponsoring[page.locale].url | relative_url }}"><span class="button-inner">Télécharger notre dossier sponsor ({{ site.sponsoring[page.locale].size }})</span></a>
    </p>
  </div>
</section>

{% include banners/banner-cocktail.html locale=page.locale %}

<section id="staff" class="section">
  <div class="wrapper">
    {% include staff.html year=year %}
  </div>
</section>
