---
title: Accueil
description: Le 9 octobre 2018, à Bordeaux, une journée de conférences dédiées à la performance web. Métriques, UX, optimisations du code et des images. Venez rencontrer les experts !
i18n-key: 2018-home
permalink: /2018/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" />
      <div class="home-main-title-baseline">
          L'édition 2018 est terminée.
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="{% t voir le programme %}{% if site.infos.video %} {% t et les vidéos %}{% endif %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/" title="{% t voir le programme %}{% if site.infos.video %} {% t et les vidéos %}{% endif %}">
        <span class="button-inner">{% t voir le programme %}{% if site.infos.video %} {% t et les vidéos %}{% endif %}</span>
      </a>
      {% if site.current_edition == page.year and site.tickets.selling %}
      <a class="button" data-text="{% t infos pratiques %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/" title="{% t Infos pratiques %}">
        <span class="button-inner">{% t infos pratiques %}</span>
      </a>
      <br/>
      <a class="button" data-text="{% t derniers jours ! %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t réserver votre place %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a>
      {% endif %}
      {% if site.current_edition == page.year and site.tickets.waiting-list %}
      <a class="button" data-text="{% t s'incrire en liste d'attente %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/#register" title="{% t s'incrire en liste d'attente %}">
        <span class="button-inner">{% t s'incrire en liste d'attente %}</span>
      </a>
      {% endif %}
      {% if site.current_edition != page.year %}
      <a class="button" data-text="{% t voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t voir l'édition courante %}">
        <span class="button-inner">{% t voir l'édition courante %}</span>
      </a>
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | where: "display", true | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale %}
{% endif %}

{% if site.newsletter.display %}
  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Ne ratez rien !</h2>
      <p>
        Abonnez-vous à notre liste d'envoi pour recevoir des informations sur l'événement par courriel.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>
{% endif %}

{% include banners/banner-grand-hotel.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Enfin un événement français dédié à la performance web&nbsp;!</h2>
    <p>Créé par et pour la communauté, {{ site.title }} est né de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnels du web, de l’e-commerce et experts de la webperf, cet événement est fait pour vous&nbsp;!</p>
    <p>Décideurs, développeurs… retrouvons-nous pour une journée, et peut-être quelques soirées, dans une des plus belles villes de France, afin d'échanger sur la WebPerf : ses enjeux, son implémentation, ses acteurs mais aussi l'organisation des entreprises qui l'implémentent.</p>
    <p class="text-center">
        <a class="button" data-text="venir à Bordeaux" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">venir à Bordeaux</span></a>
      </p>
  </div>
</section>

{% include banners/banner-sainte-catherine.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Nos sponsors</h2>
    <p>E-commerçants, éditeurs de solutions, prestataires de services, ils ont choisi de nous soutenir par amour de l'UX et de la performance Web.</p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="contactez-nous" href="{{ "/contact" | relative_url }}"><span class="button-inner">contactez-nous</span></a>
    </p>
  </div>
</section>

{% include banners/banner-grand-theatre.html locale=page.locale %}
