{% if include.page_top %}
  {% assign slug = "banner-anthony-delanoix-eiffel-unsplash page-top" %}
{% else %}
  {% assign slug = "banner-anthony-delanoix-eiffel-unsplash" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Tour Eiffel"
  source_url="https://unsplash.com/fr/photos/Q0-fOL2nqZc"
  source_author="Anthony Delanoix"
  source_rights_url="https://unsplash.com/fr/licence"
  source_rights_title="Licence Unsplash"
  source_rights_shortname="Unsplash Licence"
  no_lazy=include.no_lazy
%}
