{% if include.page_top %}
  {% assign slug = "banner-elephant-machines-ile-nantes-resize page-top" %}
{% else %}
  {% assign slug = "banner-elephant-machines-ile-nantes-resize" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Elephant Machines Ile De Nantes"
  source_url="https://fr.freepik.com/photos-premium/elephant-machines-ile-nantes_34547060.htm#&position=4&from_view=search&track=ais&uuid=1f90586a-2609-4a60-9eb0-5c646bcca942"
  source_author="saiko3p"
  source_rights_url="https://www.freepikcompany.com/legal#nav-freepik-license"
  source_rights_title="Licence Freepik"
  source_rights_shortname="Freepik"
  no_lazy=include.no_lazy
%}
