{% if include.page_top %}
  {% assign slug = "banner-lyon-palais-tony page-top" %}
{% else %}
  {% assign slug = "banner-lyon-palais-tony" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Salle Tony Garnier"
  source_url="https://www.lyonpalaisbourse.com/salles-palais-de-la-bourse-lyon/tony-garnier/"
  source_author="Palais de la Bourse de Lyon"
  source_rights_url="https://www.lyonpalaisbourse.com/mentions-legales/"
  source_rights_title="Tous droits réservés"
  source_rights_shortname="©"
  no_lazy=include.no_lazy
%}
