{% if include.page_top %}
  {% assign slug = "banner-alex-harmuth-cafe-unsplash page-top" %}
{% else %}
  {% assign slug = "banner-alex-harmuth-cafe-unsplash" %}
{% endif %}
{% include banners/_generic.html
  slug=slug
  locale=include.locale
  source_title="Personnes assises à la terrasse d'un café"
  source_url="https://unsplash.com/fr/photos/bOICdD-Gulk"
  source_author="Alex Harmuth"
  source_rights_url="https://unsplash.com/fr/licence"
  source_rights_title="Licence Unsplash"
  source_rights_shortname="Unsplash"
  no_lazy=include.no_lazy
%}
