---
title: Home
description: >-
  On October 9, 2018, in Bordeaux, a day of conferences dedicated to web performance. Metric, UX, code and image optimizations. Join the experts!
i18n-key: 2018-home
permalink: /en/2018/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" />
      <div class="home-main-title-baseline">
        The 2018 Edition is over.
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="{% t voir le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/" title="{% t voir le programme %}">
        <span class="button-inner">{% t voir le programme %}</span>
      </a>
      {% if site.current_edition == page.year and site.tickets.selling %}
      <a class="button" data-text="{% t infos pratiques %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/" title="{% t infos pratiques %}">
        <span class="button-inner">{% t infos pratiques %}</span>
      </a>
      <br/>
      <a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t réserver votre place %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a>
      {% endif %}
      {% if site.current_edition == page.year and site.tickets.waiting-list %}
      <a class="button" data-text="{% t s'incrire en liste d'attente %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/#register" title="{% t s'incrire en liste d'attente %}">
        <span class="button-inner">{% t s'incrire en liste d'attente %}</span>
      </a>
      {% endif %}
      {% if site.current_edition != page.year %}
      <a class="button" data-text="{% t voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t voir l'édition courante %}">
        <span class="button-inner">{% t voir l'édition courante %}</span>
      </a>
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | where: "display", true | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale %}
{% endif %}

{% if site.newsletter.display %}
  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Stay in the loop!</h2>
      <p>
        Subscribe our newsletter to receive information about the event.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>
{% endif %}

{% include banners/banner-grand-hotel.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">At last, a French event dedicated to web performance!</h2>
    <p>Created by and for the webperf community, {{ site.title }} was born from the desire to share as widely as possible knowledge and experience about webperf. Web professionals, e-commerce and webperf experts, this event is for you!</p>
    <p>Decision makers, developers... let's meet for a day, and maybe a few evenings, in one of the most beautiful cities in France, to discuss web performance: its challenges, its implementation, its stakeholders but also the organization of the companies that implement it.</p>
    <p class="text-center">
        <a class="button" data-text="come to Bordeaux" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">come to Bordeaux</span></a>
      </p>
  </div>
</section>

{% include banners/banner-sainte-catherine.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Our sponsors</h2>
    <p>They chose to support us out of love for UX and Web performance.</p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="contact us" href="{{ "/contact" | relative_url }}"><span class="button-inner">contact us</span></a>
    </p>
  </div>
</section>

{% include banners/banner-grand-theatre.html locale=page.locale %}
