--- 
title: "Sud Web : La conférence Web plutôt Humaine" 
description: Deux journées pour faire le plein d’inspiration.
---

<div class="cta-zone-1 section-margin">
  <div class="wrapper">
    <div class="text-center">
      <section>
        <h2 class="small-title-size">Vendredi 25 et samedi 26 mai 2018 à
          <a href="https://www.google.fr/maps/place/Val+de+l'Hort/@44.0404289,3.988418,15z/data=!4m2!3m1!1s0x0:0xb1be8c54dae86e11?sa=X&ved=0ahUKEwiE3fSmhr7YAhUDOxQKHT5gD64Q_BIIfjAK"
            target="_blank" rel="noopener noreferrer">Anduze, Gard (30)<span class="sr-only">(ouvrir dans une nouvelle fenêtre)</span></a>
        </h2>
        <h3 class="tiny-title-size uppercase">
          <a href="#conferences">Une journée de conférences</a>
          <span class="title-plus">+</span>
          <a href="#forum-ouvert">Une journée de Forum Ouvert</a>
          <br>
          <span class="tiny-size">et plein d'informelles !</span>
        </h3>
      </section>
    </div>
    <div class="text-center">
      <!--<a class="cta button-type1" href="{{ site.baseurl }}/inscription/" data-event-category="cta" data-event-action="click" data-event-label="navigation-inscription">En être</a>-->
      <a class="cta button-type2" href="{{ site.baseurl }}/appel-a-sujets/" data-event-category="cta" data-event-action="click"
        data-event-label="navigation-cfp">Intervenir</a>
    </div>
  </div>
</div>

<div class="anduze-banner lozad" title="La Bambouseraie d'Anduze">
  <!-- nothing here! -->
</div>


<section class="darkgrey-section" id="conferences">
  <div class="wrapper text-center">
    <h3 class="great-title-size uppercase">Les conférences</h3>
    <p>
      C'est le moment de
      <a href="{{ site.baseurl }}/appel-a-sujets/">proposer un sujet !</a>
    </p>
    <p>
      Nous vous proposerons une sélection unique et variée qui devrait vous parler.
      <div class="text-center">
        <a class="cta button-type4" href="https://vimeo.com/album/3981563" data-event-category="cta" data-event-action="click" data-event-label="voir-videos">Voir les vidéos des années précédentes</a>
      </div>
    </p>
  </div>
</section>
<section class="white-section" id="forum-ouvert">
  <div class="wrapper text-center">
    <h3 class="great-title-size red uppercase">Le forum ouvert</h3>
    <div class="grid-3 text-center">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-size" viewBox="0 0 400 400">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#clap" />
        </svg>
        <p>
          <strong>Une journée auto-organisée</strong> dont vous êtes les principaux acteurs.</p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-size" viewBox="0 0 400 400">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#move" />
        </svg>
        <p>
          <strong>Vous êtes libres</strong> de passer d’une session à l’autre à tout moment.</p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="svg-size" viewBox="0 0 400 400">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#write" />
        </svg>
        <p>
          <strong>Vous soumettez des sujets</strong> sur lesquels vous réfléchissez avec les autres participants.</p>
      </div>
    </div>
  </div>
</section>

<div class="forum-banner lozad" data-background-image="/assets/images/forum-large.jpg">
  <!-- nothing here! -->
</div>

<div class="cta-zone-1 section-margin">
  <div class="wrapper">
    <div class="text-center">
      <section>
        <h3 class="great-title-size uppercase">Pourquoi plutôt Humaine ?</h3>
          <p>
            Parce qu'on y trouve autre chose que des conférences techniques : on privilégie les histoires et les Retours d'EXpérience parce qu'on a choisi de <strong>plus s'intéresser au gens qu'aux outils</strong> qu'ils utilisent.
          </p>
          <p>
            Parce qu'on cherche à tisser <strong>des liens entre le web et le reste du monde</strong> : technicien·ne·s, boulanger·ère·s, artistes… on trouve de tout !
          </p>
          <p>
            Parce qu'on déploie le lien humain : on cultive les conversations informelles et faisons en sorte d'être dans <strong>des espaces agréables, familiaux et circulants</strong>.
          </p>
          <p>
            Parce qu'on créé les conditions pour une aventure humaine auto-gérée : on utilise le format du forum ouvert et on permet de vivre <strong>une aventure immersive</strong> de deux jours dans un lieu convivial.
          </p>
      </section>
    </div>
  </div>
</div>

<div class="yellow-section text-center">
  <div class="wrapper">
    <h3 class="great-title-size">Faites le plein d'inspiration !</h3>
    <div class="grid-3">
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#tree" />
        </svg>
        <p>
          <strong>Sortez</strong> de votre zone de confort et
          <strong>ouvrez</strong> votre esprit</p>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#experience" />
        </svg>
        <p class="pres-desc">
          <strong>Expérimentez & apprenez</strong> durant ces jours de conférences et d'ateliers</p>
      </section>
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#muscle" />
        </svg>
        <p class="pres-desc">
          <strong>Repartez gonflé·e·s à bloc</strong> pour ne plus voir vos lundi de la même façon</p>
      </section>
    </div>
  </div>
</div>

<div class="cta-zone-1 section-margin">
  <div class="wrapper">
    <div class="text-center">
      <section>
        <h3 class="small-title-size">Dormir au Val de l'Hort</h3>
        <p>
          <strong>Cette année, dormez sur place !
            <br>L'hébergement est compris dans le prix du billet.</strong>
        </p>
        <p>
          <strong>
            <a href="http://valdelhort.com/" target="_blank" rel="noopener noreferrer">Le Val de l'Hort <span class="sr-only">(ouvrir dans une nouvelle fenêtre)</span></a>
          </strong> nous accueillera du jeudi soir au samedi, en dortoir, en tente ou en chambre double (voir le site pour plus
          de détails).
        </p>

        <div class="grid-3">
          <div>
            <img src="{{ site.baseurl }}/assets/images/anduze/val-de-lhort-1.jpg" alt="">
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/anduze/val-de-lhort-2.jpg" alt="">
          </div>
          <div>
            <img src="{{ site.baseurl }}/assets/images/anduze/val-de-lhort-3.jpg" alt="">
          </div>
        </div>

        <h3 class="small-title-size">Autres hébergements</h3>

        <p>
          Si vous ne souhaitez pas dormir au Val de l'Hort ou que vous souhaitez prolonger votre séjour à Anduze, voici une liste
          de quelques hébergements aux alentours :
        </p>

        <ul class="text-left">
          {% assign specifics = site.data.bnbs.specifics | sort: "distance" %}
          {% assign generics = site.data.bnbs.generics | sort: "fromprice" %}
          {% for bnb in specifics %}
            <li>
              <a href="{{ bnb.url }}" target="_blank" rel="noopener noreferrer">{{ bnb.name }}{% if bnb.distance %} ({{ bnb.distance }}){% endif %} à partir de {{ bnb.fromprice }} <span class="sr-only">(ouvrir dans une nouvelle fenêtre)</span></a>
            </li>
          {% endfor %}
          {% for bnb in generics %}
            <li>
              <a href="{{ bnb.url }}" target="_blank" rel="noopener noreferrer">{{ bnb.name }}{% if bnb.distance %} ({{ bnb.distance }}){% endif %} à partir de {{ bnb.fromprice }} <span class="sr-only">(ouvrir dans une nouvelle fenêtre)</span></a>
            </li>
          {% endfor %}
        </ul>

        <p class="tiny-size">
          Attention ces tarifs sont livrés à titre indicatif et incluent parfois la location de plusieurs lits, voire du gîte entier. Pensez à réserver au plus tôt.
        </p>
      </section>
    </div>
  </div>
</div>

<div class="anduze2-banner lozad" data-background-image="/assets/images/forum-large.jpg">
  <!-- nothing here! -->
</div>

<div class="cta-zone-1 section-margin">
  <div class="wrapper">
    <div class="text-center">
      <section>
        <h3 class="small-title-size">La Thym</h3>
        <div class="grid-4 text-center">
          {% assign members = site.data.thym_members | sort: "name" %}
          {% for member in members %}
          <section class="attendee">
            <figure class="attendee-avatar"><img src="https://twitter.com/{{ member.twitter }}/profile_image?size=bigger" alt="">
            </figure>
            <h3 class="attendee-name"><a href="https://twitter.com/{{ member.twitter }}">{{ member.name }}</a></h3>
          </section>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
