---
title: Line-up
description: The talks of the 2019 edition of We Love Speed
i18n-key: 2020-interventions
permalink: /en/2020/speakers/
---

{%- assign conferences = site.talks | where: "year", page.year | sort: "display-order" -%}

{% include speakers.html conferences=conferences locale=page.locale year=page.year %}

<hr class="wrapper" />

{% include conferences.html conferences=conferences locale=page.locale year=page.year %}

{% include banners/banner-grand-theatre.html locale=page.locale %}
