/* ==========================================================================
   COLORS
   ========================================================================== */

// Colors definitions

$black                            : #000000;
$softgrey                         : #ABB4BE;
$white                            : #FFFFFF;
$darkgreen                        : #192112;
$red                              : #e62827;
$darkred                          : darken($red, 20);
$blackred                         : darken($red, 40);
$softred                          : lighten($red, 40);
$softwhite                        : lighten($red, 47);

$green                            : #6A7C2C;
$blue                             : #12A6C6;
$orange                           : #f3973e;
$purple                           : #9d3bb0;

$devtools-dns-lookup              : #409688;
$devtools-initial-connection      : $orange;
$devtools-ssl                     : $purple;
$devtools-waiting                 : #5dc954;
$devtools-content-download        : #3da9f5;
$devtools-dcl                     : #dcdcff;
$devtools-fl                      : #ffc7c6;



$pastel-green                     : lighten($green, 50%);
$pastel-blue                      : lighten($blue, 50%);
$pastel-orange                    : lighten($orange, 35%);
$pastel-red                       : lighten($red, 40%);;
$pastel-yellow                    : #fcfccd;


// Semantics

$regular                          : $darkred;
$inactive                         : $softgrey;
$info                             : $blue;
$valid                            : $green;
$warning                          : $orange;
$alert                            : $red;

// Colors applications

$default-color                    : $darkred;
$default-bg                       : $softwhite;
$focus-color                      : $red;

$link-color                       : $focus-color;

$title-color                      : $default-color;

$selection-color                  : $white;
$selection-bg                     : $red;

$hr-color                         : lighten($softgrey, 20%);

$blockquote-border-color          : lighten($red, 35%);


// Forms

$label-color                      : $focus-color;

$input-color                      : $default-color;
$input-bg                         : transparent;
$input-border-color               : lighten($red, 35%);
$input-focus-color                : $black;
$input-focus-bg                   : transparent;
$input-focus-border-color         : $black;


// Buttons:

$btn-bg                           : $red;
$btn-color                        : $white;

$btn-hover-bg                     : lighten($red, 65%);
$btn-hover-border-color           : $red;
$btn-hover-color                  : $darkred;

// Navigation

$nav-bg                           : $white;
$nav-color                        : $link-color;

$nav-trigger-btn-bg               : $softwhite;
$nav-trigger-btn-color            : $focus-color;
$nav-trigger-btn-hover-bg         : $nav-trigger-btn-bg;
$nav-trigger-btn-hover-color      : $focus-color;
$nav-trigger-btn-active-bg        : transparent;
$nav-trigger-btn-active-color     : $nav-trigger-btn-color;
$nav-trigger-area-bg              : rgba($white, .9);
