@use "../vendors/ceaser/ceaser" as *;

/* ==========================================================================
   CONFIG
   ========================================================================== */

// Layout

$wrapper-width: 100%;
$wrapper-max-width: 144rem;
$wrapper-content-max-width: 100rem;
$global-gutters: 6.4rem;
$half-gutters: calc($global-gutters / 2);

// Z-indexes

$zindex-nav-trigger-area: 15;
$zindex-nav-trigger: 16;
$zindex-page-nav: 20;

// Responsive

$media-ratio: (
  "xsmall": 1.7,
  "small": 1.8,
  "medium": 1.9,
  "large": 2,
  "xlarge": 2.1,
  "xxlarge": 2.2,
);

$breakpoints: (
  "small": 480px,
  "medium": 720px,
  "large": 960px,
  "xlarge": 1200px,
  "xxlarge": 1440px,
);

$media-expressions: (
  "HDPIscreen": "(min-resolution: 2dppx)",
);

// Typo
$default-font-size: 1em;
$default-line-height: 1.6;

$font-weight-normal: 400;
$font-weight-bold: 700;

$default-font-family: Figtree, Figtree-fallback, system-ui, sans-serif;
$default-font-weight: $font-weight-normal;
$default-font-style: normal;

$title-font-family: "Space Grotesk", "Space Grotesk-fallback", serif;
$title-font-weight: 700;
$title-font-style: normal;
$title-line-height: 1.2;

$nav-font-family: $title-font-family;
$nav-font-weight: $title-font-weight;
$nav-font-style: normal;

$input-font-family: $default-font-family;
$input-font-weight: $font-weight-normal;
$input-font-style: italic;

$button-font-family: $title-font-family;
$button-font-weight: 500;
$button-font-style: normal;

$title-max-width: 700px;

$font-sizes: (
  (
    "class": "xxl",
    "size": 1.75em,
  ),
  (
    "class": "xl",
    "size": 1.5em,
  ),
  (
    "class": "lg",
    "size": 1.25em,
  ),
  (
    "class": "sm",
    "size": 0.875em,
  ),
  (
    "class": "xs",
    "size": 0.75em,
  )
);

// Forms and buttons

$label-font-size: 0.875em;

$input-vmargin: 0;
$input-hmargin: 0;
$input-vpadding: 2.4rem;
$input-hpadding: 1.2rem;

// Transitions

$enable-transitions: true;

$default-duration: 0.25s;
$default-timing-function: ceaser(easeInOutQuart);

$nav-toggle-duration: 0.5s;
$nav-toggle-timing-function: ceaser(easeOutCubic);

// Banners slugs

$banners: (
  "banner-pexels-409701",
  "banner-grand-hotel",
  "banner-sainte-catherine",
  "banner-grand-theatre",
  "banner-cocktail",
  "banner-corbusier",
  "banner-roundtable",
  "banner-lyon-restaurants",
  "banner-lyon-palais-tony",
  "banner-anthony-delanoix-eiffel-unsplash",
  "banner-alex-harmuth-cafe-unsplash",
  "banner-elephant-machines-ile-nantes-resize",
  "banner-jorgen-hendriksen-elephant-unsplash"
);
