<section class="section talks">
  <div class="wrapper">
    <h2 class="text-center">
      {% t Aperçu %}
    </h2>
    {% for conference in include.conferences %}
    {% if include.locale == "en_US" and conference.en_US %}
      {% assign verbatim = conference.en_US %}
    {% else %}
      {% assign verbatim = conference.fr_FR %}
    {% endif %}
    <article class="conference" id="{{ conference.slug }}">
      <h3>
        {{ verbatim.title }}&nbsp;<a href="#{{ conference.slug }}" class="text-xs">#</a>
      </h3>
      {{ verbatim.description | markdownify }}
      {% if verbatim.transcript or verbatim.slides %}
        <p class="text-center">
        {% if verbatim.transcript %}
          <a class="button" data-text="{% t lire la version textuelle %}" href="{{ verbatim.transcript }}" title="{% t lire la version textuelle %}"><span class="button-inner">{% t lire la version textuelle %}</span></a>
        {% endif %}
        {% if verbatim.slides %}
          <a class="button" data-text="{% t consulter le support %}" href="{{ verbatim.slides }}" title="{% t consulter le support %}"><span class="button-inner">{% t consulter le support %}</span></a>
        {% endif %}
        </p>
      {% endif %}

        {% for names in conference.speakers %}
        {% assign speaker = site.data.speakers[names] %}
        {% if include.locale == "en_US" and speaker.en_US %}
          {% assign speakatim = speaker.en_US %}
        {% else %}
          {% assign speakatim = speaker.fr_FR %}
        {% endif %}
        <section class="conference-speaker text-sm">
          <figure class="conference-speaker-pic" role="group">
            <img src="{{ speaker.image | relative_url }}" alt="">
            <figcaption class="sr-only">{{ speaker.name }}</figcaption>
          </figure>
          <h3 class="conference-speaker-name">
            {% unless conference.speakers | size > 1 %}
              <span class="text-xs">{% t Présenté par %}</span><br>
            {% else %}
              <span class="text-xs">Avec la participation de</span><br>
            {% endunless %}
            {% capture person %}<em>{{ speaker.name }}</em>{% endcapture %}
            {% if speaker.url %}
              {% capture person %}<a href="{{ speaker.url }}">{{ person }}</a>{% endcapture %}
            {% endif %}
            {{ person }}
          </h3>
          <p class="conference-speaker-description">
            {{ speakatim.bio | markdownify }}
          </p>
        </section>
        {%- endfor -%}
    </article>
    <hr>
    {%- endfor -%}
  </div>
</section>

