{% capture nowUnix %}{{ site.time | date: '%s'}}{% endcapture %}
<section class="section talks">
  <div class="wrapper">
    <h2 class="text-center">
      {% t Aperçu %}
    </h2>
  </div>
</section>

{% for conference in include.conferences %}
  <section class="section talks">
    <div class="wrapper">
      {% capture pubDateUnix %}{{ conference.pub_date | date: '%s' }}{% endcapture %}
      {% if pubDateUnix <= nowUnix %}
        <span class="sr-only" id="{{ conference.slug }}"></span>
        {% for name in conference.speakers %}<span class="sr-only" id="{{name}}" aria-hidden></span>{% endfor %}

        {% assign verbatim = conference %}
        {% assign other_verbatim = conference.translation %}

        <article class="conference {% cycle 'odd', 'even' %}">
          <h3 class="conference-title">
            <a href="{{ conference.url }}">{{ verbatim.title }}</a>
          </h3>
          {% if verbatim.subtitle %}
            <p class="conference-subtitle">
              {{- verbatim.subtitle -}}
            </p>
          {% endif %}

          <div class="conference-excerpt">
            {{ verbatim.excerpt | markdownify }}
          </div>

          {% include speaker_bios.html conference=conference year=include.year locale=include.locale withAnchors=false appearance="small" %}

          {% include conference_buttons.html verbatim=verbatim other_verbatim=other_verbatim year=include.year locale=include.locale %}
        </article>

        {% if site.current_edition == page.year %}
          {% if site.tickets.selling or site.infos.schedule %}
            <p class="text-center">
              {% if site.current_edition == page.year and site.tickets.selling %}
                <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t Réserver votre place %}">
                  <span class="button-inner">{% t Réserver votre place %}</span>
                </a>
              {% endif %}

              {% if site.current_edition == page.year and site.infos.schedule %}
                <a class="button" data-text="{% t Voir sur le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/#{{ conference.slug }}" title="{% t Voir sur le programme %}">
                  <span class="button-inner">{% t Voir sur le programme %}</span>
                </a>
              {% endif %}
            </p>
          {% endif %}
        {% endif %}
    {%- endif -%}
    </div>
  </section>
  {% include banners/banner-elephant-nantes.html locale=page.locale %}
{%- endfor -%}

<hr>

