<footer class="page-footer">
  <div class="wrapper">
    {% if shortKey=="home" or page.i18n-key == 'contact' %}
      {% include staff.html year=year %}
      <hr>
    {% endif %}
    <div class="grid-3">
      <section>
        <h2 id="footerTitle2" class="text-lg">{% t Éditions %}</h2>
        <nav aria-labelledby="footerTitle2">
          <ul>
            {%- for edition in site.data.editions -%}
            <li><a href="{{ page.baseurl | default:site.baseurl }}/{{ edition[0] }}">{{ edition[0] }}, {{ edition[1].com_city }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>
      </section>
      <section>
        <h2 id="footerTitle3" class="text-lg">{% t Pour en savoir plus %}</h2>
        <nav aria-labelledby="footerTitle3">
          <ul>
            {% assign footer_links = site.data.sitemap[include.year] | where: 'in_footer', true %}
            {% for link in footer_links %}
              <li>{% include link.html link=link %}</li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h2 class="text-lg">{% t Restons en contact %}</h2>
        {% include newsletter-form.html compact=true context="footer" %}
        {% include social-links.html %}
      </section>
    </div>
    <hr>
    <p class="text-center">{% t Contribué sur %} <a href="https://github.com/{{ site.repository }}">github</a> {% t et propulsé par %} <a href="https://www.netlify.com" alt="Netlify: All-in-one platform for automating modern web projects">netlify</a>.</p>
  </div>
</footer>
