<footer class="page-footer">
  <div class="wrapper">
    <section id="thym">
      <h2 class="text-center">{% t La Thym %}</h2>
      <div class="grid-7 text-center">
        {% for member in site.data.thym_members %}
          <figure class="person">
            <img class="person-avatar" src="https://twitter.com/{{member.twitter}}/profile_image?size=bigger" alt="Alexandra Janin">
            <figcaption class="person-name text-xs">
              <a href="https://twitter.com/{{member.twitter}}">{{member.name}}</a>
            </figcaption>
          </figure>
        {% endfor%}
      </div>
    </section>
    <hr>
    <div class="grid-3">
      <section>
        <h3 class="text-lg">{% t Épisodes précédents %}</h3>
        <nav>
          <ul>
            {% for edition in site.data.editions %}
            <li><a href="https://sudweb.fr/{{edition.year}}">{{edition.year}} à {{edition.town}}</a></li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 class="text-lg">{% t Pour en savoir plus %}</h3>
        <nav>
          <ul>
            {% for link in site.data.sitemap %}
              <li><a href="{{link.url}}">{{link.name}}</a></li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 class="text-lg">{% t Who you gonna call? %}</h3>
        <form action="//sudweb.us2.list-manage.com/subscribe/post?u=af19b58cf514c01eca3f7652e&amp;id=b579f5b507"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="newsletter-form validate" target="_blank" rel="noopener noreferrer" novalidate="">
          <label for="mce-EMAIL">{% t Recevez la Sud Web letter %}</label>
          <div class="form-row">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{% t Votre email %}" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_af19b58cf514c01eca3f7652e_b579f5b507" tabindex="-1" value="">
            </div>
            <button class="button-reset" type="submit" name="subscribe" id="mc-embedded-subscribe">ok</button>
          </div>
        </form>
        <ul class="social-links">
          {% for social in site.data.social %}
            <li>
              <a href="{{social.url}}" title="{{social.title}}">
                <svg viewBox="0 0 448 512">
                  <use xlink:href="/assets/svg/symbol-defs.svg#{{social.name}}"/>
                </svg>
              </a>
            </li>
          {% endfor%}
        </ul>
      </section>
    </div>
    <hr>
    <p class="text-center">{% t Gracieusement hébergé par %} <a href="https://alwaysdata.com">alwaysdata</a>.</p>
  </div>
</footer>
