<footer class="page-footer">
  <div class="wrapper">
    {% if page.i18n-key == 'home' %}
      <section id="thym">
        <h2 class="text-center">{% t La Thym %}</h2>
        <div class="grid-7 text-center">
          {% for member in thym %}
            <figure class="person" role="group" aria-labelledby="capt-{{member.twitter}}">
              <img class="person-avatar lozad" data-src="{{ "/assets/images/thym/" | append: member.twitter | append: ".jpg" | relative_url }}" alt="{{member.name}}">
              <figcaption id="capt-{{member.twitter}}" class="person-name text-xs">
                <a href="https://twitter.com/{{member.twitter}}">{{member.name}}</a>
              </figcaption>
            </figure>
          {% endfor%}
        </div>
      </section>
    {% endif %}
    <hr>
    <div class="grid-3">
      <section>
        <h3 id="footerTitle1" class="text-lg">{% t Épisodes précédents %}</h3>
        <nav aria-labelledby="footerTitle1">
          <ul>
            {% for edition in site.data.editions %}
            <li><a href="https://sudweb.fr/{{edition.year}}">{{edition.year}} à {{edition.town}}</a></li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 id="footerTitle2" class="text-lg">{% t Pour en savoir plus %}</h3>
        <nav aria-labelledby="footerTitle2">
          <ul>
            {% assign footer_links = site.data.sitemap | where: 'in_footer', true %}
            {% for link in footer_links %}
              <li>{% include link.html link=link %}</li>
            {% endfor%}
          </ul>
        </nav>
      </section>
      <section>
        <h3 class="text-lg" lang="en" title="Ghostbusters!">{% t Who you gonna call? %}</h3>
        <form action="//sudweb.us2.list-manage.com/subscribe/post?u=af19b58cf514c01eca3f7652e&amp;id=b579f5b507"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="newsletter-form validate" target="_blank" rel="noopener noreferrer" novalidate="">
          <label for="mce-EMAIL">{% t Recevez la Sud Web letter %}</label>
          <div class="form-row">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{% t Votre email %}" required="">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_af19b58cf514c01eca3f7652e_b579f5b507" tabindex="-1" value="">
            </div>
            <button class="button-reset" type="submit" name="subscribe" id="mc-embedded-subscribe">ok</button>
          </div>
        </form>
        <ul class="social-links">
          {% for social in site.data.social %}
            <li>
              <a href="{{social.url}}" title="{{social.title}}">
                <svg viewBox="0 0 448 512">
                  <use xlink:href="{{ "/assets/svg/symbol-defs.svg#" | append: social.name | relative_url }}"/>
                </svg>
              </a>
            </li>
          {% endfor%}
        </ul>
      </section>
    </div>
    <hr>
    <p class="text-center">{% t Gracieusement hébergé par %} <a href="https://alwaysdata.com">alwaysdata</a>.</p>
  </div>
</footer>
