<!doctype html>
<html lang="{{ lang }}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <base href="{{ site.baseurl }}">

        <!-- {% seo %} -->

        <meta name="google-site-verification" content="8m24dDPfxZJrdAG2SSC_LX9-CQco5_IBiqTGxxUnREU">
        <meta name="google-site-verification" content="d4ACEsgZ4SRtmiaMYlTAmL9bRKoVn7EMphY8QUaI9iU">

        <meta name="robots" content="{{ site.robots }}">

        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="assets/favicons/manifest.json">
        <link rel="mask-icon" href="assets/favicons/safari-pinned-tab.svg" color="#93ac3d">
        <link rel="shortcut icon" href="assets/favicons/favicon.ico?date=20180119">
        <meta name="msapplication-config" content="assets/favicons/browserconfig.xml">
        <meta name="theme-color" content="#c8d891">

        <link rel="author" href="human.txt">

        <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}assets/images/social/og-image.jpg">
        <meta property="og:image:height" content="488">
        <meta property="og:image:width" content="932">
        <meta property="og:description" content="Deux journ&eacute;es pour faire le plein d&rsquo;inspiration, les 25 et 26 mai &agrave; Anduze">
        <meta property="og:title" content="Sud Web : La conf&eacute;rence Web surtout Humaine">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:locale" content="fr_fr">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@SudWeb">
        <meta name="twitter:creator" content="@SudWeb">

        <link rel="preload" as="image" type="image/jpeg" crossorigin href="assets/images/logo-bg.jpg">
        <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/oraqle_script-webfont.woff2?date=20180119">
        <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/roboto-thin-webfont.woff2">
        <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/roboto-light-webfont.woff2">
        <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/roboto-lightitalic-webfont.woff2">
        <link rel="preload" as="font" type="font/woff2" crossorigin href="assets/fonts/roboto-regular-webfont.woff2">

        <link rel="stylesheet" href="assets/css/main.css">

    </head>
