<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      {% cloudinary /assets/images/logo-transparent-bg.png class="home-main-title-logo" alt="{{ site.title }}" %}
      <div class="home-main-title-baseline">
        {% t L’événement français des mordus de web performance ! %}
      </div>
    </h1>

    <p class="home-sub-title">
      Enfin un événement français dédié à la web performance ! Créé par et pour la communauté webperf, {{ site.title }} est né de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnels du web, de l’e-commerce et experts de la webperf, cet événement est fait pour vous&nbsp;!
    </p>
    <p class="text-center">
      <a class="button" data-text="{% t voir le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: page.locale }}/" title="{% t voir le programme %}">
        <span class="button-inner">{% t voir le programme %}</span>
      </a>
      {% if site.tickets.selling %}
      <a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/" title="{% t réserver votre place %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a>
      {% endif %}
      {% if site.tickets.waiting-list %}
      <a class="button" data-text="{% t s'incrire en liste d'attente %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/#register" title="{% t s'incrire en liste d'attente %}">
        <span class="button-inner">{% t s'incrire en liste d'attente %}</span>
      </a>
      {% endif %}
    </p>
  </div>
</header>
{% comment %}
<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>
{%- assign conferences = site.talks | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale %}
{% endcomment %}
