<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" />
      <div class="home-main-title-baseline">
        {% t L'édition 2018 est terminée ! %}<br>
        On vous prépare celle de 2019, inscrivez-vous à la newsletter, ou suivez-nous sur <a href="https://www.linkedin.com/company/welovespeed/">LinkedIn</a> ou <a href="https://twitter.com/_welovespeed">Twitter</a>
      </div>
    </h1>
  </div>
</header>
