<header class="page-header">
  <div class="wrapper">
    <h1 class="main-title">
      <svg class="main-title-logo" viewBox="0 6.75 38.5 10.75">
        <title>Sud Web</title>
        <defs>
          <pattern id="pic" patternUnits="userSpaceOnUse" width="38.5" height="20">
            <image xlink:href="{{ site.baseurl }}/assets/images/logo-bg.jpg" width="38.5" height="20" />
          </pattern>
        </defs>
        <text y="1em">Sud Web</text>
      </svg>
      <div class="main-title-baseline">
        {% t La conférence Web surtout Humaine %}
      </div>
    </h1>

    <p class="sub-title">
      Sud Web, {% t c’est %}<a href="#conferences">{% t une journée de conférences %}</a> {% t et %} <a href="#forum-ouvert">{% t une journée de forum ouvert %}</a>, {% t et plein d’informelles %}.
      {% t La prochaine édition se tiendra les vendredi 25 et samedi 26 mai 2018 à %}
      <a title="Ouvrir dans Google Maps" href="https://www.google.fr/maps/place/Val+de+l’Hort/@44.0404289,3.988418,15z/data=!4m2!3m1!1s0x0:0xb1be8c54dae86e11">Anduze, Gard (30)</a>.<br>
      {% t Les inscriptions ouvriront très bientôt %}.
    </p>
    <p class="text-center">
      <a class="button" data-text="{% t proposer un sujet %}" href="/appel-a-sujets/" title="Intervenir à Sud Web 2018">
        <span class="button-inner">{% t proposer un sujet %}</span>
      </a>
      <a class="button" data-text="{% t participer à Sud Web %}" href="/billeterie/" title="Venir à Sud Web 2018">
        <span class="button-inner">{% t participer à Sud Web %}</span>
      </a>
    </p>
  </div>
</header>

{% include navigation.html %}
