<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <svg width="1em" class="home-main-title-logo" role="img" aria-labelledby="headerLogoTitle" viewBox="0 6.75 38.5 10.75">
        <title id="headerLogoTitle">Sud Web</title>
        <defs>
          <pattern id="pic" patternUnits="userSpaceOnUse" width="38.5" height="20">
            <image xlink:href="{{ "/assets/images/logo-bg.jpg" | relative_url }}" width="38.5" height="20" />
          </pattern>
        </defs>
        <text y="1em">Sud Web</text>
      </svg>
      <div class="home-main-title-baseline">
        {% t La conférence Web surtout Humaine %}
      </div>
    </h1>

    <p class="home-sub-title">
      Sud Web, {% t c’est %} <a href="#conferences">{% t une journée de conférences %}</a> {% t et %} <a href="#forum-ouvert">{% t une journée de forum ouvert %}</a>, {% t et plein d’informelles %}.
      {% t La prochaine édition se tiendra les %} <strong><time datetime="2018-05-25">{% t vendredi 25 %}</time> {% t et %} <time datetime="2018-05-26">{% t samedi 26 mai 2018 %}</time></strong> {% t à %}
      <a href="{{ page.baseurl | default:site.baseurl }}/{{ "venir-anduze" | t: page.locale }}/">Anduze, Gard (30)</a>.
    </p>
    <p class="text-center">
      <a class="button" data-text="{% t voir le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: page.locale }}/" title="{% t Voir le programme de Sud Web 2018 %}">
        <span class="button-inner">{% t voir le programme %}</span>
      </a>
      <a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/" title="{% t Venir à Sud Web 2018 %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a>
    </p>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <hr>
  </div>
</section>

{%- assign conferences = site.talks | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale %}
