<header class="page-header">
  <div class="wrapper">
    <div class="page-main-title h-like">
      <a href="{{ page.baseurl | default:site.baseurl }}/{{ include.link.anchor }}" title="{% t Accueil %}">
        **{{ site.title }}**
      </a>
      <p class="page-main-title-baseline">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quasi vero, inquit, perpetua oratio rhetorum solum, non etiam philosophorum sit. Traditur, inquit, ab Epicuro ratio neglegendi doloris.
      </p>
    </div>
  </div>
</header>

{% unless page.hide_banner %}{% include banners/pexels-409701.html locale=page.locale page_top=true %}{% endunless %}
