<header class="page-header">
  <div class="wrapper">
    <div class="page-main-title h-like">
      <a href="{{ page.baseurl | default:site.baseurl }}/{{ include.link.anchor }}" title="{% t Accueil %}">
        <img src="/assets/svg/wls-inline.svg" class="page-main-title-logo" alt="{{ site.seo_title }}" />
      </a>
      <p class="page-main-title-baseline">
          {% t 9 octobre 2018, Bordeaux %}
      </p>
    </div>
  </div>
</header>

{% unless page.hide_banner %}{% include banners/banner-grand-hotel.html locale=page.locale page_top=true %}{% endunless %}
