<button type="button" class="button-reset nav-trigger" title="Navigation" data-target="#navigation">
  <div class="nav-trigger-button">
    <span>navi</span><span>gation</span>
  </div>
</button>

<nav class="page-nav" id="navigation">
  <ul class="page-nav-inner">
    {% assign nav_links = site.data.sitemap | where: 'in_nav', true %}
    {% for link in nav_links %}
      <li>{% include link.html link=link %}</li>
    {% endfor%}
    {% if page.translation %}
      {% assign hreflang = page.translation.locale | slice: 0,2 %}
      <li><a hreflang="{{ hreflang }}" href="{{ page.translation.url }}"><small>{% t (see in english) %}</small></a></li>
    {% endif %}
      
  </ul>
</nav>
