<form id="nl-form" class="page__form js-form form" method="POST" action="{{ site.newsletter.url }}" name="mc-embedded-subscribe-form"
class="newsletter-form validate" target="_blank" rel="noopener noreferrer" novalidate="">
  <fieldset>
    <label for="mce-EMAIL">{% t Votre email (obligatoire) %}</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
  </fieldset>
  <fieldset>
    <label for="mce-NAME">{% t Votre nom %}</label>
    <input type="name" value="" name="NAME" class="name" id="mce-NAME" required>
  </fieldset>
  <fieldset>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div class="sr-only">
      <input type="text" name="{{ site.newsletter.honeypot }}" tabindex="-1" value="">
    </div>
  </fieldset>
  <p class="text-center">
    <button class="button" data-text="{% t s'abonner %}" type="submit" name="subscribe" id="mc-embedded-subscribe">
      <span class="button-inner">{% t s'abonner %}</span>
    </button>
  </p>
</form>
