{% if include.label == nil %}
  {% assign label = "Acheter votre place" | t: page.locale %}
{% else %}
  {% assign label = include.label %}
{% endif %}
<section class="section">
  <div class="wrapper text-center">
      <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t Réserver votre place %}">
        <span class="button-inner">{% t Réserver votre place %}</span>
      </a>
  </div>
</section>
