<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "Sud Web 2018",
  "description": "La conférence Web surtout Humaine",
  "image": "{{ site.url }}{{ site.baseurl }}/assets/images/social/og-image-{{ lang }}.jpg",
  "startDate": "2018-05-25T09:00",
  "endDate": "2018-05-26T18:00",
  "duration": "P2D",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "1050 Chemin Bas",
      "postalCode": "30140",
      "addressLocality": "Anduze",
      "addressRegion": "Gars"
    },
    "name": "Val de l’Hort"
  },
  "organizer": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": "{{ site.logo }}",
    "sameAs": [
      "https://www.facebook.com/SudWeb",
      "https://twitter.com/sudweb",
      "https://vimeo.com/sudweb",
      "https://www.flickr.com/people/sudweb/"
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t contact %}/",
      "contactType" : "customer service",
      "contactOption": "TollFree"
    },
    "member": [
    {% for member in thym %}
      {% unless forloop.first %},{% endunless %}
      {
        "@type": "Person",
        "name": "{{ member.firstname }} {{ member.lastname }}",
        "sameAs": "https://twitter.com/{{ member.twitter }}"
      }
    {% endfor %}]
  },
  "offers": {
    "@type": "Offer",
    "price": "250.00",
    "priceCurrency": "EUR",
    "validFrom": "2018-01-22T00:00",
    "validThrough": "2018-05-25T09:00",
    "availability": "http://schema.org/InStock",
    "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t billetterie %}/"
  },
  "performer": [
  {% for conference in site.talks %}
    {% unless forloop.first %},{% endunless %}
    {% for names in conference.speaker %}
      {% assign speaker = site.data.speakers[names] %}
      {% unless forloop.first or forloop.last %},{% endunless %}
      {
        "@type": "Person",
        "name": "{{ speaker.name }}",
        "sameAs": "{{ speaker.url }}"
      }
    {% endfor %}
  {% endfor %}
  ]
}
</script>
