{%- assign talks = site.talks | where: "year", include.year | sort: "display-order" -%}
{% assign staff = site.data.staff[include.year] %}
{% assign edition = site.data.editions[include.year] %}
{% capture nowUnix %}{{ site.time | date: '%s'}}{% endcapture %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ site.seo_title }} {{ include.year }}",
  "description": "{% if include.locale == "en_US" %}{{ site.description_en }}{% else %}{{ site.description }}{% endif %}",
  "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}",
  "image": "https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,w_960/{{ site.url }}{{ site.baseurl }}/assets/images/social-{{ lang }}.png",
  "startDate": "{{ edition.start }}",
  "endDate": "{{ edition.end }}",
  "duration": "P2D",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ edition.address.line2 }}",
      "postalCode": "{{ edition.address.zipcode }}",
      "addressLocality": "{{ edition.address.city }}",
      "addressRegion": "{{ edition.address.region }}"
    },
    "name": "{{ edition.address.line1 }}"
  },
  "organizer": {
    "@type": "Organization",
    "name": "{{ site.seo_title }}",
    "logo": "{{ site.logo }}",
    "sameAs": [
      {% for social in site.data.social %}
      "{{social.url}}"{% unless forloop.last %},{% endunless %}
      {% endfor%}
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t contact %}/",
      "contactType" : "customer service",
      "contactOption": "TollFree"
    },
    "member": [
    {% for member in staff %}
      {% unless forloop.first %},{% endunless %}
      {
        "@type": "Person",
        "name": "{{ member.firstname }} {{ member.lastname }}",
        "sameAs": [
          "https://twitter.com/{{ member.twitter }}",
          "{{ member.url }}"
        ]
      }
    {% endfor %}]
  },
  "offers": {
    "@type": "Offer",
    "price": "{{ site.tickets.price }}",
    "priceCurrency": "{{ site.tickets.price_currency }}",
    "validFrom": "{{ include.year }}-01-01T00:00",
    "validThrough": "{{ edition.start }}",
    "availability": "http://schema.org/InStock",
    "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t billetterie %}/"
  },
  "performer": [
  {% for talk in talks %}
    {% unless forloop.first %},{% endunless %}
    {% capture pubDateUnix %}{{ talk.pub_date | date: '%s' }}{% endcapture %}
    {%- if pubDateUnix <= nowUnix -%}
      {% for name in talk.speakers %}
        {% assign speaker = site.data.speakers[include.year][name] %}
        {% unless forloop.first %},{% endunless %}
        {
          "@type": "Person",
          "name": "{{ speaker.name }}",
          "sameAs": "{{ speaker.url }}"
        }
      {% endfor %}
    {%- endif -%}
  {% endfor %}
  ]
}
</script>
