{% assign talks = site.talks | where:'year', include.year %}
{% assign staff = site.data.staff[include.year] %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ site.seo_title }} 2019",
  "description": "{% if include.locale == "en_US" %}{{ site.description_en }}{% else %}{{ site.description }}{% endif %}",
  "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}",
  "image": "https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,w_960/{{ site.url }}{{ site.baseurl }}/assets/images/social-{{ lang }}.png",
  "startDate": "2019-09-20T09:00",
  "endDate": "2019-09-20T18:00",
  "duration": "P2D",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "40 Rue Eugène Jacquet",
      "postalCode": "59700",
      "addressLocality": "Marcq-en-Barœul",
      "addressRegion": "Nord-Pas-de-Calais"
    },
    "name": "LA CITÉ des échanges"
  },
  "organizer": {
    "@type": "Organization",
    "name": "{{ site.seo_title }}",
    "logo": "{{ site.logo }}",
    "sameAs": [
      {% for social in site.data.social %}
      "{{social.url}}"{% unless forloop.last %},{% endunless %}
      {% endfor%}
    ],
    "contactPoint": {
      "@type": "ContactPoint",
      "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t contact %}/",
      "contactType" : "customer service",
      "contactOption": "TollFree"
    },
    "member": [
    {% for member in staff %}
      {% unless forloop.first %},{% endunless %}
      {
        "@type": "Person",
        "name": "{{ member.firstname }} {{ member.lastname }}",
        "sameAs": [
          "https://twitter.com/{{ member.twitter }}",
          "{{ member.url }}"
        ]
      }
    {% endfor %}]
  },
  "offers": {
    "@type": "Offer",
    "price": "{{ site.tickets.price }}",
    "priceCurrency": "{{ site.tickets.price_currency }}",
    "validFrom": "2019-01-01T00:00",
    "validThrough": "2019-09-13T00:00",
    "availability": "http://schema.org/InStock",
    "url": "{{ site.url }}{{ page.baseurl | default:site.baseurl }}/{% t billetterie %}/"
  },
  "performer": [
  {% for conference in talks %}
    {% unless forloop.first %},{% endunless %}
    {% for names in conference.speakers %}
      {% assign speaker = site.data.speakers[names] %}
      {% if speaker.display %}
        {% unless forloop.first %},{% endunless %}
        {
          "@type": "Person",
          "name": "{{ speaker.name }}",
          "sameAs": "{{ speaker.url }}"
        }
      {% endif %}
    {% endfor %}
  {% endfor %}
  ]
}
</script>
