{%- for item in site.talks -%}
  {% if item.slug == include.value %}
      {% assign talk = item %}
      {% assign locale = include.locale | default: talk.locale %}
  {% endif %}
{%- endfor -%}
{% capture talkUrl %}{{ page.baseurl | default:site.baseurl }}/{{ include.year }}/{{ "interventions" | t: include.locale }}/#{{ talk.slug }}{% endcapture %}
<td scope="col" class="schedule-talk">
  <a href="{{ talkUrl }}" class="talk room{{ forloop.index }}" id="{{ talk.slug }}">
    <header>
      {%- for speakerSlug in talk.speakers -%}
        {% assign speaker = site.data.speakers[include.year][speakerSlug] %}
        <figure class="person person-{{ talk.speakers | size }} {{ speaker.slug }}">
          {% cloudinary avatar {{ speaker.image | relative_url }} class="person-avatar" alt="" loading="lazy" %}
        </figure>
      {%- endfor -%}
      <div class="talk-summary speakers-{{ talk.speakers | size }}">
        <h2>{{ talk[include.locale].title }}</h2>
        <p class="talk-authors">
          {% if talk.locale %}{% unless talk.locale == include.locale %}<strong>{{ " en anglais" | t: page.locale }}</strong>{% endunless %}{% endif %}
          {%- for speakerSlug in talk.speakers -%}
            {%- capture youString %}{{ "Vous !" | t: page.locale }}{% endcapture -%}
            {% assign speaker = site.data.speakers[include.year][speakerSlug] %}
            {% if forloop.first %} {%t par %} {{ speaker.name | default: youString }}{% else %}{{ speaker.name | default: youString }}{% endif %}
            {% if speaker.locale %}{% unless speaker.locale == include.locale %}<strong>{{ " en anglais" | t: page.locale }}</strong>{% endunless %}{% endif %}
            {% unless forloop.last -%}, {%- endunless -%}
          {%- endfor -%}{% if talk.length %}<br><span aria-hidden="true">🕑</span> {{talk.length}} minutes{% if talk.questions %} + questions{% endif %}{% endif %}<span class="schedule-room">{{ rooms[forloop.index0][include.locale] }}</span>
        </p>
      </div>
    </header>
    <section class="talk-excerpt">
      {% assign localizedTalk = talk[include.locale] %}
      <p>{{ localizedTalk.excerpt | default:localizedTalk.description | truncatewords: 40 }} <span class="underlined">{% t En savoir plus %}</span</p>
    </section>
  </a>
</td>
