{{ site.data.talks }}

<section class="section" id="schedule" class="schedule">
  <div class="wrapper">
    <h1 class="text-center">
      {% t Programme %}
    </h1>
    <table summary="{{ "Programme heure par heure" | t:include.locale }}" class="schedule-container">
      <caption class="sr-only">Conférences de We Love Speed 2019, le 20 septembre</caption>
      <tbody class="schedule-body">
          {%- for line in site.data.schedule[include.year] -%}
          {% case line.type %}
            {% when 'headers' %}
              <tr class="schedule-headers">
                <th scope="col" class="schedule-header schedule-hour">{{ "Heure" | t:include.locale }}</th>
                {% assign rooms = line.values %}
                {%- for room in rooms -%}
                  <th scope="col" class="schedule-header room{{ forloop.index }}-header">{{ room[include.locale] }}</th>
                {%- endfor -%}
              </tr>
            {% when 'short' %}
              <tr class="schedule-short">
                <td scope="col" class="schedule-hour">{{ line.hour }}</td>
                <td scope="col" colspan="{{ rooms | size }}">{{ line.values[include.locale] }}</td>
              </tr>
            {% when 'pause' %}
              <tr class="schedule-pause">
                <td scope="col" class="schedule-hour">{{ line.hour }}</td>
                <td scope="col" colspan="{{ rooms | size }}">{{ line.values[include.locale] | raw }}</td>
              </tr>
            {% when 'talks' %}
              <tr class="schedule-talks">
                <td scope="col" class="schedule-hour">{{ line.hour }}</td>
                {% assign rowspan = 1 %}
                {%- for value in line.values -%}
                  {%- for item in site.talks -%}
                      {% if item.slug == value %}
                          {% assign talk = item %}
                          {% assign rowspan = value.span | default: 1 %}
                      {% endif %}
                  {%- endfor -%}
                  {% capture talkUrl %}{{ page.baseurl | default:site.baseurl }}/{{ include.year }}/{{ "interventions" | t: include.locale }}#{{ talk.slug }}{% endcapture %}
                  <td scope="col" {% unless rowspan == 1 %}rowspan="{{ rowspan }}"{% endunless %}>
                    <a href="{{ talkUrl }}" class="talk room{{ forloop.index }}" id="{{ talk.slug }}">
                      <header>
                        {%- for speakerSlug in talk.speakers -%}
                          {% assign speaker = site.data.speakers[include.year][speakerSlug] %}
                          <figure class="person person-{{ talk.speakers | size }} {{ speaker.slug }}">
                            {% cloudinary avatar {{ speaker.image | relative_url }} class="person-avatar" alt="" %}
                          </figure>
                        {%- endfor -%}
                        <div class="talk-summary">
                          <h2>{{ talk[include.locale].title }}</h2>
                          <p class="talk-authors">
                            {% unless talk.locale == include.locale %}<strong>{{ " en anglais" | t: page.locale }}</strong>{% endunless %}
                            {%- for speakerSlug in talk.speakers -%}
                              {% assign speaker = site.data.speakers[include.year][speakerSlug] %}
                              {% if forloop.first %} {%t par %} {{ speaker.name }}{% else %}{{ speaker.name }}{% endif %}{%- unless forloop.last -%}, {%- endunless -%}
                            {%- endfor -%}{% if talk.length %}<br>🕑 {{talk.length}} minutes + questions{% endif %}<span class="schedule-room">{{ rooms[forloop.index0][include.locale] }}</span>
                          </p>
                        </div>
                      </header>
                      <section class="talk-excerpt">
                        <p>{{ talk[include.locale].description | truncatewords: 20 }}</p>
                      </section>
                    </a>
                  </td>
                {%- endfor -%}
              </tr>
            {% else %}
          {% endcase %}
          {%- endfor -%}
      </tbody>
    </table>
  </div>
</section>
<hr class="wrapper">
