<ul class="social-links">
  {% capture symbols-url %}/assets/svg/symbol-defs.svg?{{site.time | date: '%Y%m%d%H%M%S'}}#{% endcapture %}
  {% for social in site.data.social %}
    {% if social.name != "pictures" and social.name != "mail" %}
    <li>
      <a href="{{social.url}}" rel="me nofollow noopener" title="{{social.title}}" target="_blank">
        <svg width="1em" role="img" aria-label="{{social.name}}" viewBox="0 0 448 512">
          <use xlink:href="{{ symbols-url | append: social.name | relative_url }}"/>
        </svg>
        {{social.name}}
      </a>
    </li>
    {% endif %}
  {% endfor%}
</ul>
