{% assign nbspeakers = 0 %}
{% for conference in include.conferences %}
  {% for names in conference.speakers %}
    {% capture nbspeakers %}{{ nbspeakers | plus:1 }}{% endcapture %}
  {%- endfor -%}
{%- endfor -%}
{% capture nbitems %}{{nbspeakers}}i{% endcapture %}

{% unless include.nowrap %}
<section id="speakers" class="section">
  <div class="wrapper">
{% else %}
  <div id="speakers">
{% endunless %}
    <a class="sr-only" src="{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: include.locale }}{% endunless %}#conferences" >{% t Aller directement au programme détaillé %}</a>
    <h{% if include.h1 %}1{% else %}2{% endif %} class="text-center">
        {% t Intervenants dévoilés %}
    </h{% if include.h1 %}1{% else %}2{% endif %}>
    <div class="grid-{{ site.data.gridsize[nbitems] }} text-center">
      {% for conference in include.conferences %}
        {% for names in conference.speakers %}
          {% capture conf-url %}{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: include.locale }}{% endunless %}#{{conference.slug}}{% endcapture %}
          {% assign speaker = site.data.speakers[names] %}
          <figure class="person">
            <a title="{{ "Aller directement à l'intervention de %s" | t: include.locale | replace:"%s",speaker.name }}" href="{{ conf-url }}">{% cloudinary avatar {{ speaker.image | relative_url }} class="person-avatar" alt="" %}</a>
          </figure>
        {%- endfor -%}
      {%- endfor -%}
    </div>
{% unless include.nowrap %}
  </div>
</section>
{% else %}
</div>
{% endunless %}
