<section class="conference-speakers text-sm">
  {% for name in include.conference.speakers %}
    {% assign speaker = site.data.speakers[include.year][name] %}
    {% if include.locale == "en_US" and speaker.en_US %}
      {% assign speakatim = speaker.en_US %}
    {% else %}
      {% assign speakatim = speaker.fr_FR %}
    {% endif %}
  <article class="conference-speaker"{% if include.withAnchors %} id="{{ name }}"{% endif %}>
      {% if speaker.image %}
        {% assign avatarSource = speaker.image | relative_url %}
      {% else %}
        {% assign avatarSource = "/assets/images/speakers/incognito.png" | relative_url %}
      {% endif %}

      <figure class="conference-speaker-pic">
        {% cloudinary avatar {{ avatarSource }} class="person-avatar" alt="" loading="lazy" %}
        {% capture youString %}{{ "Vous !" | t: include.locale }}{% endcapture %}
        <figcaption class="sr-only">{{ speaker.name | default: youString }}</figcaption>
      </figure>
      <h3 class="conference-speaker-name">
        {% assign speakerCount = conference.speakers | size %}
        <span class="text-xs">{% t Présenté %}{% if conference.locale %}{% unless conference.locale == include.locale %}<b>{{ " en anglais" | t: page.locale }}</b>{% endunless %}{% elsif speaker.locale %}{% unless speaker.locale == include.locale %}<b>{{ " en anglais" | t: page.locale }}</b>{% endunless %}{% endif %} {%t par %}</span>
        <span>
          <em>{{ speaker.name | default: youString }}</em>
          {% include person-links.html urls=speaker.urls %}
        </span>
      </h3>
      <div class="conference-speaker-description">
        {{ speakatim.bio | markdownify }}
      </p>
    </article>
  {%- endfor -%}
</section>
