{% comment %} Count speakers {% endcomment %}
{% capture nowUnix %}{{ site.time | date: '%s'}}{% endcapture %}
{% include compute_speakers.html year=include.year conferences=include.conferences %}
{% capture nbItemGrid %}{{ nbSpeakersMax }}i{% endcapture %}
{% comment %} Display speakers {% endcomment %}
{% unless include.nowrap %}
<section id="speakers" class="section">
  <div class="wrapper">
{% else %}
  <div id="speakers">
{% endunless %}
    <a class="sr-only" src="{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: include.locale }}{% endunless %}#conferences" >{% t Aller directement au programme détaillé %}</a>
    <h{% if include.h1 %}1{% else %}2{% endif %} class="text-center">
        <span class="inline-not-large">{% t Intervenant‧es %}</span><span class="inline-large">{% t Intervenants et Intervenantes %}</span>
    </h{% if include.h1 %}1{% else %}2{% endif %}>
    <div class="grid-{{ site.data.gridsize[nbItemGrid] }} text-center">
    {%- for name in visibleSpeakers -%}
      {% assign speaker = yearSpeakers[name] %}
      <figure class="person {{ name }}">
            {% capture speakerUrl %}{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ include.year }}/{{ "interventions" | t: include.locale }}{% endunless %}#{{ name }}{% endcapture %}
            <a title="{{ "Détails de l'intervention de %s" | t: include.locale | replace:"%s",speaker.name }}" href="{{ speakerUrl }}">
              {% cloudinary avatar {{ speaker.image | relative_url }} class="person-avatar" alt="" loading="lazy" %}</a>
            {% include person-links.html urls=speaker.urls %}
      </figure>
    {%- endfor -%}
    {%- for i in (1..nBIncognito) -%}
      <figure class="person">
        {% cloudinary avatar {{ "/assets/images/speakers/incognito.png" | relative_url }} class="person-avatar" alt="" loading="lazy" %}
      </figure>
    {%- endfor -%}
    </div>
{% unless include.nowrap %}
  </div>
</section>
{% else %}
</div>
{% endunless %}
