{% assign othersCount = site.data.sponsors.others|size %}
<section id="sponsors" class="section">
  <div class="wrapper">
    <a class="sr-only" src="{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: include.locale }}{% endunless %}#conferences" >{% t Aller directement aux descriptions des sponsors %}</a>
    <div class="grid-2 text-center">
      {% for sponsor in site.data.sponsors.gold %}
          {% capture sponsor-url %}{% unless include.shorturl %}{{ page.baseurl | default:site.baseurl }}/{{ "sponsors" | t: include.locale }}{% endunless %}#{{sponsor.slug}}{% endcapture %}
          <figure class="company-logo-big">
            <a title="{{ "En savoir plus sur %s" | t: include.locale | replace:"%s",sponsor.name }}" href="{{ sponsor-url }}">{% cloudinary gold_sponsors {{ sponsor.logo }} alt="{{sponsor.name}}" %}</a>
          </figure>
      {%- endfor -%}
    </div>
    {% if othersCount > 0 %}
    <hr>
    <div class="grid-6 text-center">
      {% for sponsor in site.data.sponsors.others %}
          <figure class="company-logo-big">
            <a title="{{ "En savoir plus sur %s" | t: include.locale | replace:"%s",sponsor.name }}" href="{{ sponsor.url }}"><img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ sponsor.logo | relative_url }}" alt="{{sponsor.name}}" width="100" height="100"></a>
          </figure>
      {%- endfor -%}
    </div>
    {% endif %}
  </div>
</section>
