<section class="section sponsors-description">
  <div class="wrapper">
    <h2 class="text-center">
      {% t Nos sponsors Gold %}
    </h2>
    {% for sponsor in site.data.sponsors.gold %}
    <hr id="{{ sponsor.slug }}">
    {% if include.locale == "en_US" and sponsor.en_US %}
      {% assign verbatim = sponsor.en_US %}
    {% else %}
      {% assign verbatim = sponsor.fr_FR %}
    {% endif %}
    {% include sponsors-description.html locale=page.locale %}
    {%- endfor -%}
  </div>
</section>
