<article class="company" id="{{ sponsor.slug }}">
  <figure class="company-logo" role="group">
    <img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ sponsor.logo | relative_url }}" alt="{{sponsor.name}}" width="100" height="100">
    <figcaption class="sr-only">{{ sponsor.name }}</figcaption>
  </figure>
  <p class="company-description">
    {{ verbatim.description | markdownify }}
  </p>
  <p class="text-center"><a class="button" data-text="{{ verbatim.cta.text }}" href="{{ verbatim.cta.url }}" title="{{ verbatim.cta.text }}">
    <span class="button-inner">{{ verbatim.cta.text }}</span>
  </a></p>
</article>
