<section id="staff">
    <h2 class="text-center">{% t L'Équipe %}</h2>
    <div class="grid-{{ staff.size }} text-center">
      {% for member in staff %}
        <figure class="person" role="group" aria-labelledby="capt-{{member.twitter}}">
          <img src="{{ site.lazyload.placeholder }}" class="person-avatar lozad" data-src="{{ "/assets/images/staff/" | append: member.twitter | append: ".jpg" | relative_url }}" alt="{{member.firstname}} {{member.lastname}}" width="100" height="100">
          <figcaption id="capt-{{member.twitter}}" class="person-name text-xs">
            <a title="{{member.firstname}} {{member.lastname}}" href="https://twitter.com/{{member.twitter}}">{{member.firstname}} <span class="sr-only">{{member.lastname}}</span></a> (<a href="{{ member.company_url }}">{{ member.company_name }}</a>)
          </figcaption>
        </figure>
      {% endfor%}
    </div>
  </section>
