
{% for writeup in include.writeups %}
  {% comment %} La base : l'url.
    Tout le reste autour, c'est de la déco si c'est dispo.

    Exemples de rendu possibles, suivant les infos dispo :

    <li>
      <a href="https://domain.com/article">https://domain.com/article</a>
    </li>

    <li>
      «&nbsp;<a href="https://domain.com/article">Titre article</a>&nbsp;», Auteur(s)
    </li>

    <li>
      <blockquote>
        Lorem ipsum sit dolor amet.<br>
        <cite>«&nbsp;<a href="https://domain.com/article">Titre article</a>&nbsp;», Auteur(s) – <a href="http://domain.com/">Organisation</a></cite>
      </blockquote>
    </li>

  {% endcomment %}
  {% capture markup %}{{ writeup.url }}{% endcapture %}

  {% comment %} Si on a le title, on l'utilise. {% endcomment %}
  {% if writeup.title %}
    {% capture markup %}
      &laquo;&nbsp;<a href="{{ markup }}"{% if writeup.locale and include.locale != writeup.locale %}lang="{{ writeup.locale | slice: 0,2 }}"{% endif %}>{{ writeup.title }}</a>&nbsp;&raquo;
    {% endcapture %}
  {% else %}
    {% capture markup %}<a href="{{ markup }}">{{ markup }}</a>{% endcapture %}
  {% endif %}

  {% comment %} Si on a des auteurs, on les précise {% endcomment %}
  {% if writeup.authors %}
    {% capture markup %}{{ markup }}, {{ writeup.authors | join: ', ' }}{% endcapture %}
  {% endif %}

  {% comment %} Si ça vient d'une organisation, on le précise {% endcomment %}
  {% if writeup.from and writeup.from.name %}
    {% capture organization %}{{ writeup.from.name }}{% endcapture %}
    {% if writeup.from.url %}
      {% capture organization %}<a href="{{ writeup.from.url }}">{{ organization }}</a>{% endcapture %}
    {% endif %}
    {% capture markup %}{{ markup }} – {{ organization }}{% endcapture %}
  {% endif %}

  {% comment %} Si on a un extrait, on décore avec un `blockquote` et un `cite` {% endcomment %}
  {% if writeup.extract %}
    {% capture markup %}
      <blockquote{% if writeup.locale and include.locale != writeup.locale %} lang="{{ writeup.locale | slice: 0,2 }}" class="other-lang"{% endif %}>
        <p>{{ writeup.extract }}</p>
        <cite>{{ markup }}</cite>
      </blockquote>
    {% endcapture %}
  {% endif %}

  <li>{{ markup }}</li>
{% endfor%}
