{% assign editions = site.data.writeups | sort: 'year' | reverse %} {% for edition in editions %}
<section>
  <h2 id="{{ edition.year }}">{{ edition.year }}</h2>
  <ul>
    {% comment %}

      L'objectif ici est de fabriquer trois collections.
      La première contient les témoignages dans la langue courante.
      La seconde contient les autres.
      La dernière contient les témoignages sans langue (comme les #hashtags)

    {% endcomment %}
    {% assign local_writeups = ''|split:''%}
    {% assign foreign_writeups = ''|split:''%}
    {% assign unsetlocal_writeups = ''|split:''%}
    {% for writeup in edition.writeups %}
      {% if writeup.locale == include.locale %}
        {% assign local_writeups = local_writeups|push:writeup%}
      {% elsif writeup.locale == nil %}
        {% assign unsetlocal_writeups = unsetlocal_writeups|push:writeup%}
      {% else %}
        {% assign foreign_writeups = foreign_writeups|push:writeup%}
      {% endif %}
    {% endfor%}

    {% assign local_messages = ''|split:''%}
    {% assign foreign_messages = ''|split:''%}
    {% assign unsetlocal_messages = ''|split:''%}
    {% for message in edition.messages %}
      {% if message.locale == include.locale %}
        {% assign local_messages = local_messages|push:message%}
      {% elsif message.locale == nil %}
        {% assign unsetlocal_messages = unsetlocal_messages|push:message%}
      {% else %}
        {% assign foreign_messages = foreign_messages|push:message%}
      {% endif %}
    {% endfor%}

    {% comment %}

      Maintenant qu'on a nos trois collections, on peut les utiliser.

    {% endcomment %}

    {% include writeups-items.html writeups=local_writeups locale=include.locale %}
    {% include messages-items.html messages=local_messages locale=include.locale %}

    {% include writeups-items.html writeups=foreign_writeups locale=include.locale %}
    {% include messages-items.html messages=foreign_messages locale=include.locale %}

    {% include writeups-items.html writeups=unsetlocal_writeups locale=include.locale %}
    {% include messages-items.html messages=unsetlocal_messages locale=include.locale %}
  </ul>
  {% if forloop.first %}
    <p class="text-center"> <a class="button" data-text="{{ "contribuer un témoignage dans GitHub" | t:page.locale }}" href="https://github.com/{{site.repository}}/blob/master/_data/writeups.yml"> <span class="button-inner">{{ "contribuer un témoignage dans GitHub" | t:page.locale }}</span> </a> </p>
  {% endif %}
</section>
<hr>
{% endfor%}
