{% assign editions = site.data.writeups | sort: 'year' | reverse %}
{% for edition in editions %}
<h2>{{ edition.year }}</h2>
<ul>
  {% for writeup in edition.writeups %}
  <li>{% if writeup.extract %}<blockquote>{{ writeup.extract }}<br/><cite>{% endif %}{% if writeup.locale and include.locale != writeup.locale %}[{% t EN %}<span class="sr-only">{% t contenu en anglais %}</span>] {% endif %}&laquo;&nbsp;<a href="{{ writeup.url }}">{% if writeup.title %}{{ writeup.title }}{% else %}{{ writeup.url }}{% endif %}</a>&nbsp;&raquo;{% if writeup.authors or writeup.from %}, {% endif %}{{ writeup.authors | join: ', ' }}{% if writeup.from %} – {% if writeup.from.url %}<a href="{{ writeup.from.url }}">{% endif %}{{ writeup.from.name }}{% if writeup.from.url %}</a>{% endif %}{% endif %}{% if writeup.extract %}{% if writeup.authors %}</cite>{% endif %}</blockquote>{% endif %}</li>
  {% endfor%}
</ul>
{% endfor%}
