@mixin rwd-banner($class, $slug) {
    .#{$class}-banner[data-loaded='true'] {
        background-image: url(../images/banners/#{$slug}-768h.jpg);
    }
    
    @media only screen and (min-width: 640px) and (min-height: 769px) {
        .#{$class}-banner[data-loaded='true'] {
            background-image: url(../images/banners/#{$slug}-1080h.jpg);
        }
    }
    
    @media only screen and (min-width: 640px) and (min-height: 1081px) {
        .#{$class}-banner[data-loaded='true'] {
        background-image: url(../images/banners/#{$slug}-1260h.jpg);
      }
    }
    
    @media only screen and (min-resolution: 2dppx) and (min-height: 385px) {
        .#{$class}-banner[data-loaded='true'] {
        background-image: url(../images/banners/#{$slug}-1080h.jpg);
      }
    }
    
    @media only screen and (min-resolution: 2dppx) and (min-height: 631px) {
        .#{$class}-banner[data-loaded='true'] {
        background-image: url(../images/banners/#{$slug}-1260h.jpg);
      }
    }
}

@include rwd-banner("anduze", "bambouseraie-1");
@include rwd-banner("forum", "forum");
@include rwd-banner("anduze2", "chemin");