/* ==========================================================================
   Specifics classes
   ========================================================================== */

.cta-zone-1 {
  position: relative;
  min-height: 60vmin;

	.cta-title {
		font-size: $small-title-size;
	}
}

.schedule-nav {
	background: $darkgrey;
	& > * {
		display: flex;
		padding: -1px 0;
		overflow: hidden;
		flex-flow: row wrap;
		justify-content: center;
	}
	a {
		display: block; margin: -1px; padding: .5em;
		flex: 1 0 auto;
		border: 2px solid lighten($darkgrey, 20%);
		font: $tiny-title-size $title-font-family; color: $alternate-color; text-align: center; text-decoration: none;
		&:hover,
		&:focus {
			background: lighten($darkgrey, 10%);
		}
	}
	time {
		display: block;
	}
}

// .episode-numbers {
//   > * {
//
//   }
// }

.numbers-item {
  position: relative;
  margin-top: 0;
  height: 12em;
  svg:not([class*='sw-']):not([class*='in']) {
    opacity: .3;
    width: 3.5em; height: 4.5em;
    margin-left: -3.5em; margin-right: 1.5em; margin-top: -4em;
    &.landscape {
      width: 4.5em; height: 4em;
      bottom: 4em;
    }
    &.big {
      width: 4.2em; height: 7em;
    }
    &.mt0 {
      margin-top: 0;
    }
  }
  svg.in {
    width: 8em; height: 10.5em;
  }
  &.logo {
    padding: 2em 1em;
  }
  .sw-logo.regular [id='sw-hands'] {
    fill: $white;
  }
  .sw-logo.regular {
    height: 9em;
  }
  .legend {
    position: absolute;
    left: 0; right: 0; bottom: 1em;
    font-size: $small-font-size;
  }
}

.number-big, .number-small {
  font-family: $title-font-family;
}

.number-big {
  font-size: $great-title-size*2;
}

.number-small {
  font-size: $small-title-size*2;
}

.help {
  font-size: $small-font-size; font-style: italic; color: $lightgrey;
}
