/* ==========================================================================
   Team styles
   ========================================================================== */

/* ============== */
/* bertrandkeller + lellex */
/* ============== */

/* Navigation home */
.main-nav__home {
  padding-bottom: 1.5em;
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 30vmin;
    height: 26vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}

.title-plus {
  font-weight: normal;
  font-family: "Roboto",arial,sans-serif;
  display: block;
  line-height: 1;
}

/* Avatar */

.attendee-avatar {
  filter: grayscale(1);
}

/* Image background */

.anduze-banner[data-loaded='true'] {
	background-image: url(../images/anduze/bambouseraie-1.jpg);
}

.anduze2-banner[data-loaded='true'] {
	background-image: url(../images/anduze/bambouseraie-3.jpg);
}

.thanks-banner[data-loaded='true'] {
	background-image: url(../images/public-large.jpg);
}

[data-loaded='true'] {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
