/* ==========================================================================
   Team styles
   ========================================================================== */

/* ============== */
/* bertrandkeller + lellex */
/* ============== */

/* Navigation home */
.main-nav__home {
  padding-bottom: 1.5em;
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 30vmin;
    height: 26vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}

.title-plus {
  font-weight: normal;
  font-family: "Roboto",arial,sans-serif;
  display: block;
  line-height: 1;
}

/* Image background */

.lozad .credits {
  display: none;
}

.lozad[data-loaded='true'] {
  background-size: cover;
  position: relative;

  .credits {
    display: block;
    background-color: rgba($darkgrey, 0.7);
    text-shadow: 0 1px 0 black;
    color: $alternate-color;
    padding: 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;

    a {
      color: $white;
    }
  }
}

.thanks-banner[data-loaded='true'] {
	background-image: url(../images/public-large.jpg);
}

[data-loaded='true'] {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
