/* ==========================================================================
   Team styles
   ========================================================================== */

/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}/* bertrandkeller */

.main-nav__home {
  .logo {
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
  .sw-logo {
    width: 35vmin;
    height: 35vmin;
  }
  span {
    display: block;
    font-family: $title-font-family;
    color: #fff;
    text-align: center;
  }
}