/* ==========================================================================
   Typo classes
   ========================================================================== */

h1, h2, h3, h4, h5, h6, .h-like {
	font-family: $title-font-family; font-weight: normal;
}

.great-title-size {
	font-size: $great-title-size;
}
.regular-title-size {
	font-size: $regular-title-size;
  line-height: 1;
}
.small-title-size {
	font-size: $small-title-size;
}
.tiny-title-size {
	font-size: $tiny-title-size;
}

.great-size {
	font-size: $great-font-size;
}
.default-size {
	font-size: $default-font-size;
}
.small-size {
	font-size: $small-font-size;
}
.tiny-size {
	font-size: $tiny-font-size;
	text-transform: initial;
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
.capfirstletter::first-letter {
	text-transform: uppercase;
}

.darkred {
	color: $darkred;
}
.red {
	color: $red;
}
.yellow {
	color: $yellow;
}
.orange {
	color: $orange;
}
.lightgrey {
	color: $lightgrey;
}
.darkgrey {
	color: $darkgrey;
}
.white {
	color: $white;
}
.gold {
	color: $gold;
}
.silver {
	color: $silver;
}
.bronze {
	color: $bronze;
}

.coc {
	font-size: 1.2rem;
	p, blockquote, li {
		font-size: 1.2rem;
	}

	h2,
	h3,
	h4 {
		font-family: $default-font-family;
    	font-weight: bold;
	}

	h2 {
		font-size: 1.4rem;
	}

	h3 {
		font-size: 1.3rem;
	}

	blockquote,
	blockquote p {
		font-size: 1.2rem;
		color: lighten($darkgrey, 10);
		font-style: italic;
	}
}
