---
title: Programme
description: Le programme de l'édition 2020 de We Love Speed
i18n-key: 2020-interventions
permalink: /2020/interventions/
---

{%- assign conferences = site.talks | where: "year", page.year | where: "locale", page.locale | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale shorturl=true h1=true year=page.year %}

<hr class="wrapper">

{% include conferences.html conferences=conferences locale=page.locale year=page.year %}

{% include banners/banner-grand-theatre.html locale=page.locale %}
