---
title: Billetterie
description: "Réservez votre place"
i18n-key: 2021-register
permalink: /2021/billetterie/
---

{% if site.tickets.selling %}
<section class="section" id="register">
  <div class="wrapper">
    <h2>Acheter un billet</h2>
    <a title="Billetterie en ligne"
      href="{{ site.weezevent.mini-site-url }}"
      class="weezevent-widget-integration"
      data-src="https://widget.weezevent.com/ticket/E761376/?code=2444&locale=fr-FR&width_auto=1&color_primary=cd2f2b"
      data-width="650"
      data-height="600"
      data-id="761376"
      data-resize="1"
      data-width_auto="1"
      data-noscroll="0"
      data-use-container="yes"
      data-type="neo"
      target="_blank">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://widget.weezevent.com/weez.js"></script>
  </div>
</section>
{% endif %}
{% if site.tickets.selling %}
<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <div class="grid-2">
      <section>
        <h2>Billets</h2>
        <p>
          Les billets sont vendus <strong>dans la limite des places disponibles</strong> et donnent accès à la conférence, aux repas et collations entre 8h30 et 18h.<br>
          Le transport et l’hébergement <strong>ne sont pas inclus</strong>.<br>
          Besoin d'un <strong>tarif particulier</strong> lié à une situation particulière (études, chômage, partenariat…)&nbsp;? N’hésitez pas, <a href="{{ page.baseurl | default:site.baseurl }}/{{ "contact" | t: page.locale }}/">contactez-nous</a>.
        </p>
      </section>
      <section>
        <h2>Moyens de paiement</h2>
        <p>
          Vous pouvez régler vos places par <strong>carte bancaire</strong> lors de l’inscription en ligne.<br>
          À moins de trois semaines de l'événement, vous pourrez également <strong>réserver vos places</strong> en ligne puis de les régler sous quinze jours <strong>par virement bancaire</strong>.<br>
          Si vous en avez besoin, la plate-forme Weezevent vous fournira une <strong>facture</strong>.<br>
          Tout achat d'un billet est <strong>ferme et définitif</strong>.
        </p>
      </section>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2 id="diversity">Tickets Pro-Diversité</h2>

    <p>Les personnes ayant l'impression d'appartenir à un groupe sous-représenté dans le domaine de la technologie (cela comprend, sans s'y limiter : les personnes de couleur, les personnes LGBTQIA+, les femmes et les personnes handicapées) sont éligibles à un <i lang="en">Diversity Ticket</i> leur permettant de bénéficier d'un billet gratuit pour l'événement.</p>

    <p>Merci à <a href="https://www.seo-camp.org/">l'association SEO Camp</a>, qui finance cette initiative pour cette édition.</p>

    <div class="text-center">
      <a class="button" target="_blank" href="{{ "/contact" | relative_url }}" data-text="Faire une demande de billet">
        <span class="button-inner">Faire une demande de billet</span>
      </a>
    </div>
  </div>
</section>

{% endif %}
{% if site.infos.display %}
<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>Comment venir à Lille&nbsp;?</h2>
    <section>
      <p>Nous avons des solutions ! Suivez les conseils que nous vous avons préparé pour un voyage sans encombre.</p>
    </section>
    <p class="text-center">
      <a class="button" data-text="venir à Lille" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">venir à Lille</span></a>
    </p>
  </div>
</section>
{% endif %}

<hr class="wrapper">

{% include banners/banner-cocktail.html locale=page.locale %}
