---
title: Billetterie
description: "Réservez votre place, il n'y en aura pas pour tout le monde"
i18n-key: register
permalink: /billetterie/
---

<section class="section">
  <div class="wrapper">
    <h1>Réserver votre place</h1>
    <div class="grid-3">
      <section>
        <h3>Une journée de conférence</h3>
        <p>Le vendredi, une journée placée sous l'angle de la transmission, du retour d'expérience et de l'émotion.</p>
      </section>
      <section>
        <h3>Le Forum Ouvert</h3>
        <p>Le samedi, une journée d'échange et de co-construction, où tout devient possible.</p>
      </section>
      <section>
        <h3>Tous les moments informels</h3>
        <p>En particulier les soirées communautaires (jeudi et vendredi) pour apprendre à se connaitre, se détendre et discuter dans un cadre reposant.</p>
      </section>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>Effrayé·e par le trajet ?</h2>
    <section>
      <p>Nous avons des solutions ! Nous n'avons pas choisi ce lieu par hasard et pensons vraiment qu'il nous permettra de vous offrir le meilleur Sud Web possible… qui commencera d'ailleurs peut-être pendant le trajet !</p>
    </section>
    <div class="text-center">
      <a class="button" href="{{ "/venir-anduze/" | relative_url }}" data-text="Venir à Anduze">
        <span class="button-inner">Venir à Anduze</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>Un tarif en deux parties</h2>
    <div class="grid-2">
      <section>
        <h3>Un tarif de base</h3>
        <p>Pour être sûr·e de pouvoir participer à Sud Web, du jeudi soir au samedi, avec repas inclus et hébergement offert,
          choisissez le tarif plein.</p>
      </section>
      <section>
        <h3>Un don</h3>
        <p>Ce don permettra de financer des places à <a href="#tarif-reduit">tarif&nbsp;réduit</a> pour celles et ceux qui en ont besoin.</p>
      </section>
    </div>
    <div class="text-center">
      <a class="button" href="{{ "/financer/" | relative_url }}" data-text="En savoir plus">
        <span class="button-inner">En savoir plus</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="register">
  <div class="wrapper">
    <h2>Acheter votre place et&#8239;/&#8239;ou contribuer à la cagnotte</h2>
    <a title="Billetterie en ligne pour Sud Web" href="https://www.weezevent.com/?c=sys_widget" class="weezevent-widget-integration"
      target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=308930&lg_billetterie=1&code=76027&resize=1&width_auto=1&color_primary=93ac3d"
      data-width="650" data-height="600" data-id="308930" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="register">
  <div class="wrapper">
    <h2 id="tarif-reduit">Bénéficier d'une place tarif réduit</h2>
    <p>Parce que la vie ne fait pas toujours de cadeaux, il était important pour nous de proposer un tarif plus abordable, particulièrement destiné aux personnes sans emploi, aux étudiants, aux personnes en reconversion, à celles qui vivent un moment difficile… (cette liste est malheureusement non-exhaustive).</p>
    <p>C'est pourquoi nous avons mis en place une cagnotte qui permet de financer des places au <strong>tarif réduit de 50&nbsp;€</strong>. Une nouvelle place sera financée <a href="{{ "/financer/#crowdfounding" | relative_url }}">tous les 200&nbsp;€ de dons</a>.<p>
    <p>Il y a actuellement <strong>{{ site.data.crowdfunding.nb_reduced_available }}</strong> places financées.</p>
    <p>Par souci d'équité, l'attribution de ces places se fera par tirage au sort. Le premier tirage au sort aura lieu le <strong>15 avril</strong> et ensuite un tous les jeudis jusqu'au <strong>17 mai</strong> (limite d'inscription la veille à 23:59) en fonction de la quantité de places disponibles. Nous contacterons alors les personnes concernées pour confirmer leur réglement.</p>
    <p>Si vous souhaitez bénéficier d'une place à 50&nbsp;€, inscrivez-vous en envoyant votre adresse mail (elle sera utilisée uniquement dans le cadre du tirage au sort).<br>N'étant pas légitimes à évaluer vos situations, nous ne demanderons aucun justificatif.</p>

    <form method="post" id="mailto-form" action="https://docs.google.com/forms/d/1u8snYX6_t9WgT6he1fc_iKoZOOxvNlHgxmKInJ0SXXE/formResponse" enctype="multipart/form-data">
      <div class="p-like">
        <label for="speaker-email">Email <span class="required">*</span></label>
        <input type="email" name="entry.1045781291" id="speaker-email" required placeholder="ex : amelie@from-paris.com">
      </div>
      <div class="p-like text-center">
        <button type="submit" class="button" data-text="S'inscrire">
          <span class="button-inner">S'inscrire</span>
        </button>
      </div>
    </form>
  </div>
</section>

<section class="section" id="register">
  <div class="wrapper">
    <h2 id="diversity">Diversity Tickets</h2>
    <p><a href="https://diversitytickets.org/" target="_blank">DiversityTickets.org</a> est une initiative de la Fondation Travis dont l'objectif est d'encourager la diversité en offrant des places pour des événements.</p>
    <p>Les personnes ayant l'impression d'appartenir à un groupe sous-représenté dans le domaine de la technologie (cela comprend, sans s'y limiter : les personnes de couleur, les personnes LGBTQIA+, les femmes et les personnes handicapées) sont éligibles à cette initiative.</p>
    <p><a href="{{ "/financer/#diversity" | relative_url }}" title="Offrir des places pour la diversité">Grâce à vos dons</a>, <strong>{{ site.data.crowdfunding.nb_diversity_tickets }}</strong> places ont pour l'instant été offertes par Sud Web à cette initiative.</p>
    <div class="text-center">
      <a class="button" target="_blank" href="https://diversitytickets.org/events/160/applications/new" data-text="Candidater">
        <span class="button-inner">Candidater</span>
      </a>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>Le pouvoir du choix</h2>
    <p>Vous pouvez choisir de vivre l’évènement de différentes manières : en restant au Val de l'Hort avec nous pendant toute la durée de l'événement ou en profitant de ce que propose Anduze en terme d'hébergement, de repas et autres divertissements.</p>
    <p>Mais quoi qu’il en soit, sachez que vous serez chouchouté·e·s et bien nourri·e·s. Chaque place comprend de copieux petits-déjeuners, de délicieux buffets déjeunatoires, et de petites collations pendant les pauses pour vous éviter l’hypoglycémie. Sans oublier les soirées communautaires, pour prolonger les échanges de la journée.</p>
    <p>Si vous avez des questions, n'hésitez pas à nous contacter par <a href="mailto:contact@sudweb.fr" title="Envoyer-nous un email">mail</a>, sur <a href="https://twitter.com/sudweb">Twitter</a>, ou <a href="http://sudweb.herokuapp.com/">Slack</a>.</p>
  </div>
</section>

{% include register-section.html inside=true %}

{% include banners/station.html locale=page.locale %}
