---
title: Billetterie
description: "Réservez votre place, il n'y en aura pas pour tout le monde"
i18n-key: register
permalink: /billetterie/
---

{% if site.tickets.selling %}
<section class="section" id="register">
  <div class="wrapper">
    <h2>Acheter votre place</h2>
    <a title="Logiciel billetterie en ligne" href="{{ site.weezevent.mini-site-url }}" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=358740&lg_billetterie=1&code=50624&resize=1&width_auto=1&color_primary=cd2f2b" data-width="650" data-height="600" data-id="358740" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>
{% else %}
  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Les billets ne sont pas encore en vente !</h2>
      <p>
        Souhaitez-vous être informé dès la mise en vente des billets ? Abonnez-vous à notre newsletter :
      </p>
      {% include newsletter-form.html context="register" %}
    </div>
  </section>
{% endif %}
{% if site.tickets.waiting-list %}
<section class="section" id="register">
  <div class="wrapper">
    <h2>Liste d'attente</h2>
    <p>Toutes les places disponibles pour cette édition ont été vendues. Il est possible que de nouvelles places se libèrent en cas de désistement.</p>
    <p>Inscrivez-vous sur la liste d'attente pour être prévenu dès qu'une place se libère.</p>
    <form method="post" id="waiting-list-form" action="https://docs.google.com/forms/d/e/1FAIpQLSdshv4_du-1vKF7-S_p9NC_xHZIKBg4VYUFT7jkLgtP5VF1Zg/formResponse" enctype="multipart/form-data">
      <div class="p-like">
        <label for="wl-email">{% t Votre email %} {% t (obligatoire) %}</label>
        <input type="email" name="entry.1045781291" id="wl-email" required placeholder="ex : michel@vaillante-f1.fr">
      </div>
      <div class="p-like">
        <label for="wl-name">{% t Votre nom %} {% t (obligatoire) %}</label>
          <input type="text" name="entry.1612045899" id="wl-name" required placeholder="ex : Michel Vaillant">
      </div>
      <div class="p-like">
        <label for="wl-tel">{% t Votre numéro %} {% t (obligatoire) %}
        <input type="text" name="entry.972508085" id="wl-tel" required placeholder="ex : +33123456789">
      </div>
      <div class="p-like text-center">
        <button type="submit" class="button" data-text="s'inscrire sur la liste d'attente">
          <span class="button-inner">s'inscrire sur la liste d'attente</span>
        </button>
      </div>
    </form>
  </div>
</section>
{% endif %}

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>Comment venir à Bordeaux&nbsp;?</h2>
    <section>
      <p>Nous avons des solutions ! Suivez les conseils que nous vous avons préparé pour un voyage sans encombre.</p>
    </section>
    <p class="text-center">
      <a class="button" data-text="venir à Bordeaux" href="{{ page.baseurl | default:site.baseurl }}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">venir à Bordeaux</span></a>
    </p>
  </div>
</section>

<hr class="wrapper">

{% include banners/banner-grand-theatre.html locale=page.locale %}
