---
title: Appel à propositions
description: Vous avez jusqu’au 16 février 2018 pour soumettre des sujets de conférences.
i18n-key: cfp
permalink: /appel-a-sujets/
---

<section class="section">
  <div class="wrapper">
    <h1>Partagez une expérience !</h1>
    <p>Cette année, l’appel à propositions concerne toutes les conférences qui se tiendront à Sud-Web 2018.</p>
    <p>Il y aura encore une forme de curation, mais tous les sujets passeront par ce formulaire ; ceci dans le but que l’équipe fasse le choix de la programmation sous forme de concertation.</p>
    <p>Toutes les formes de conférences sont possibles :</p>
    <ul>
      <li>présentation avec support(s) visuel(s) ;</li>
      <li><span lang="en">lightning talk</span> ;</li>
      <li>conférence gesticulée ;</li>
      <li>activité de groupe…</li>
    </ul>
    <p>Nous ne souhaitons pas que vous vous sentiez enfermé·e·s dans l’élaboration d’une présentation "traditionnelle". Trouvons des formats qui ont du sens et qui vous sont naturels !</p>
    <p>Vous avez une ou plusieurs idées ? <a href="#form">N’hésitez pas</a>, vous avez jusqu’au :
       <strong><time datetime="2018-02-16T23:59">16 février 2018 à 23:59</time> (heure de Paris)</strong>
       pour les proposer.</p>
    <p>Nous vous rappelons que nous privilégions :</p>
    <ul>
      <li>le <strong>vécu</strong>, le retour d’expérience ;</li>
      <li>le <strong>sens</strong> de votre démarche ;</li>
      <li>ce que vous avez appris de cette expérience, <strong>l’enseignement</strong> que vous en avez tiré ;</li>
      <li>le <strong>changement</strong> à appliquer dès lundi.</li>
    </ul>
    <p>Vous avez peur de vous lancer ? N’hésitez pas à <a href="mailto:staff-orateurs@sudweb.fr">nous contacter</a>, nous vous accompagnerons pour que vous soyez fin prêts le jour J&nbsp;!&nbsp;</p>
  </div>
</section>

{% include banners/conference.html locale=page.locale %}

<section id="form" class="section">
  <div class="wrapper">
    <h2>Formulaire d’appel à sujets pour l’édition 2018</h2>
    <p class="text-sm required">
      <em>* champ requis</em>
    </p>
    <form method="post" id="mailto-form" action="https://docs.google.com/forms/d/1PcsYY8K9eQcUOg1jO1S60YE5CcVNbinfJu6zhAAj5W4/formResponse" enctype="multipart/form-data">
      <div class="p-like">
        <label for="speaker-name">Comment vous appeler (et pronom si nécessaire) <span class="required">*</span></label>
        <input type="text" name="entry.174408459" id="speaker-name" required placeholder="ex : Amélie Poulain (elle)">
      </div>
      <div class="p-like">
        <label for="speaker-email">Email <span class="required">*</span></label>
        <input type="email" name="entry.1910784286" id="speaker-email" required placeholder="ex : amelie@from-paris.com">
      </div>
      <div class="p-like">
        <label for="talk-title">Titre de votre proposition <span class="required">*</span></label>
        <input type="text" name="entry.1999901711" id="talk-title" required placeholder="ex : Comment rendre les gens autour de nous plus heureux ?">
      </div>
      <div class="p-like">
        <label for="talk-description">Ce que vous souhaitez transmettre <span class="required">*</span></label>
        <textarea name="entry.905011140" id="talk-description" required placeholder="ex : Grâce à la découverte d’une boîte en métal, j’ai découvert plein de techniques pour aider les autres à être heureux."></textarea>
      </div>
      <div class="p-like">
        <label for="talk-duration">Durée de votre intervention <span class="required">*</span></label>
        <input type="text" name="entry.1626466660" id="talk-duration" required placeholder="ex : 5 minutes ? 10 minutes ? 25 minutes au maximum.">
      </div>
      <div class="p-like">
        <label for="talk-questions">Avez-vous besoin d’aide concernant votre venue, votre proposition ou n’importe quel autre aspect de ce Sud Web (ça ne sera pas publié sur le site) ?</label>
        <textarea name="entry.539974002" id="talk-questions" placeholder="ex : Ce que je voudrais transmettre, c’est qu’il ne faut que peu de chose pour partager son bonheur. On peut s’appeler pour en parler ensemble ?"></textarea>
      </div>
      <p class="help">
        Si votre proposition est retenue, nous prenons en charge le transport et l’hébergement.
      </p>
      <div class="p-like text-center">
        <button type="submit" class="button" data-text="Envoyer votre proposition">
          <span class="button-inner">Envoyer votre proposition</span>
        </button>
      </div>
    </form>
  </div>
</section>

{% include banners/station.html locale=page.locale %}
