---
title: "Aidez Sud Web : offrez des places !"
description: "Envie de nous aider à financer Sud Web ? Explications !"
i18n-key: faq-finance
permalink: /financer/
---

<section class="section">
  <div class="wrapper">
    <h1>Aidez Sud Web : offrez des places !</h1>
    <p>
      Cette année, <a href="https://sudweb.fr/blog/2018/les-tarifs-de-sud-web-2018/">après mûre réflexion</a>, nous avons changé de formule. Fini le <span lang="en">sponsoring</span> d'entreprise, tout le monde peut contribuer à faire de Sud Web un événement d'exception, divers et populaire. Pour cela, plusieurs possibilités :
    </p>
    <ul>
      <li><a href="#crowdfounding">contribuer à la cagnotte</a> ;</li>
      <li><a href="#gifts">offrir des places à des personnes spécifiques</a> ;</li>
      <li><a href="#diversity">offrir des places à des initiatives favorisant la diversité</a>.</li>
    </ul>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="crowdfounding">
  <div class="wrapper">
    <h2>Contribuer à la cagnotte</h2>
    <p>À partir de janvier, une cagnotte commune est mise en place, permettant le financement collaboratif de places au tarif réduits de 50 €. Ces places seront mises en vente en décalé, quelques semaines après l'annonce du programme, et permettront aux personnes les plus en difficulté de venir à l'événement. Au début, 5 places seront disponibles. Tous les 200 € de dons, une nouvelle place sera ajoutée.</p>
    <p>Vous pouvez <strong>contribuer à la cagnotte</strong> en même temps que vous achetez votre propre place, comme vous pouvez contribuer librement.</p>
    <p><strong>Entreprises ou organisations</strong>, vous pouvez continuer à financer Sud Web de la même manière que les années précédentes :</p>
    <ul>
      <li>au lieu d'un <strong>financement "Bronze"</strong> de 500 €, donnez 500 € : vous permettrez à plus de deux personnes de bénéficier d'une place à tarif réduit ; </li>
      <li>au lieu d'un <strong>financement "Argent"</strong> de 1000 €, achetez une place et donnez 750 € : vous permettrez à plus de trois personne de bénéficier d'une place à tarif réduit ; </li>
      <li>au lieu d'un <strong>financement "Or"</strong> de 2&#8239;000 €, achetez trois places pour vous et donnez 1&#8239;250 € : vous permettrez à plus de 6 personne de bénéficier d'une place à tarif réduit.</li>
    </ul>
    <p>Évidemment, d'autres calculs sont possibles. Vous pouvez notamment encourager la diversité en <a href="#gifts">offrant des places à des personnes spécifiques</a> ou en nous laissant <a href="#diversity">offrir des place à des organismes dédiés</a>.</p>
  </div>
</section>

{% include register-section.html label='Contribuer à la cagnotte' inside='true' %}

<section class="section" id="gifts">
  <div class="wrapper">
    <h2>Inviter des personnes spécifiques</h2>
    <p>La première richesse de notre secteur, ce sont les personnes qui le composent. Quel que soit leur métier, quelle(s) que soit leur(s) expérience(s), elles seront les bienvenues à Sud Web. Et si elles sont extérieur·e·s à notre secteur, c'est encore mieux ! Tout le monde gagne à s'enrichir d'une vision complémentaire sur le monde.</p>
    <p><strong>Entreprises ou organisations</strong>, vous pouvez offrir des places à vos salariés ou membres. Récompense, jeu interne, à vous d'animer leur distribution. Une chose est sûre : les bénéficiaires en seront satisfait·e·s.</p>
    <p>Cette opportunité vous séduit ? N'hésitez pas à faire, en même temps, <a href="#crowdfounding">un don dans notre cagnotte</a>.</p>
  </div>
</section>

{% include register-section.html label='Inviter des personnes' inside='true' %}

<section class="section" id="diversity">
  <div class="wrapper">
    <h2>Offrir des places pour la diversité</h2>
    <p>Vous avez envie que notre secteur soit plus ouvert à la diversité, qu'il se montre plus responsable socialement et qu'il s'enrichissent de toutes les différences ? Nous aussi, et nous ne sommes pas les seul·e·s. Des initiatives comme <a href="https://diversitytickets.org/">DiversityTickets.org</a>, accueillent des places offertes ou à tarif réduit et se chargent de les redistribuer.</p>
    <p>Si vous souhaitez que nous distribuions les billets que vous financez par vos dons à une initiative spécifique de ce type, dites-le nous au moment de l'achat. Nous vous demanderons si vous souhaitez afficher sur notre page de remerciement un logo spécifique, assorti d'une URL. L'occasion de mettre en valeur une entreprise ou une organisation caritative de votre choix.</p>
    <p><strong>Entreprises ou organisations</strong> utilisez cette opportunité pour démontrer votre engagement envers la diversité. La diversité est non seulement une valeur, mais également une force économique : elle accroit l'ouverture d'esprit, la capacité d'innovation et permet de mieux comprendre les attentes de vos client·e·s (qui sont également divers·e·s).</p>
    <p>Si vous souhaitez prendre contact vous-même avec des organismes de valorisation de la diversité, n'hésitez pas à directement <a href="#gifts">acheter des places pour les offrir vous-même</a>.</p>
  </div>
</section>

{% include register-section.html label='Encourager la diversité' inside='true' %}

<section class="section" id="register">
  <div class="wrapper">
    <h2>Billeterie</h2>
    <a title="Billetterie en ligne pour Sud Web" href="https://www.weezevent.com/?c=sys_widget" class="weezevent-widget-integration"
      target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=308930&lg_billetterie=1&code=76027&resize=1&width_auto=1&color_primary=93ac3d"
      data-width="650" data-height="600" data-id="308930" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>

<div class="banner-station lozad">
  <p class="photo-credits">
    "Anduze Station" par <a href="https://flic.kr/p/vMJMvT">Stephen Colebourne</a> - <a href="https://creativecommons.org/licenses/by/2.0/" title="Licence Creative Commons">CC-BY 2.0</a>
  </p>
</div>
