---
title: L’événement français des mordus de web performance !
description: Le 9 octobre 2018, à Bordeaux, une journée de conférences dédiées à la performance web
i18n-key: home
permalink: /
---

{% include banners/pexels-409701.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/pexels-409701.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="forum-ouvert">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/pexels-409701.html locale=page.locale %}

<section class="section" id="dodo">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/pexels-409701.html locale=page.locale %}
