---
title: Accueil
description: Le 9 octobre 2018, à Bordeaux, une journée de conférences dédiées à la performance web
i18n-key: home
permalink: /
intro: >-
  Enfin un événement français dédié à la web performance&nbsp;! Créé par et pour la communauté webperf, We ❤️ Speed est né de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnels du web, de l’e-commerce et experts de la webperf, cet événement est fait pour vous&nbsp;!
contact_text: "Restons en contact"
---

{% include banners/banner-grand-hotel.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/banner-sainte-catherine.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="forum-ouvert">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/banner-grand-theatre.html locale=page.locale %}

<section class="section" id="dodo">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/banner-pexels-409701.html locale=page.locale %}
