---
title: Programme
description: Le programme de l'édition 2018 de We Love Speed
i18n-key: programme
permalink: /programme/
---

{%- assign conferences = site.talks | where: "display", true | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale shorturl=true h1=true %}

<hr class="wrapper">

{% include conferences.html conferences=conferences locale=page.locale %}

{% if site.tickets.selling %}
<section class="section">
  <div class="wrapper">
    <p class="text-center"><a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/" title="{% t réserver votre place %}">
      <span class="button-inner">{% t réserver votre place %}</span>
    </a></p>
  </div>
</section>
{% endif %}

{% include banners/banner-grand-theatre.html locale=page.locale %}
