---
title: Programme
description: Le programme de l'édition 2018 de Sud Web
i18n-key: programme
permalink: /programme/
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1>Le programme 2018</h1>
    <h2>{{ number_of_conferences }} conférences</h2>
    {% for conference in conferences %}
    <article class="grid-3">
      <div>
        <h2>{{ conference.title }}</h2>
        {{ conference.description | markdownify }}
      </div>
      <section>
        {% for names in conference.speaker %}
        {% assign speaker = site.data.speakers[names] %}
        <p>présenté par&hellip;</p>
        <h3></h3>
        <figure>
          {% capture spckimg %}/assets/images/orateurs/{% if speaker.slug %}{{ speaker.slug }}{% else %}{{ speaker.name | slugify }}{% endif %}.jpg{% endcapture %}
          <img src="https://pbs.twimg.com/profile_images/724941999195983872/hWg5kAoc_400x400.jpg" alt="{{ speaker.name }}">
          <!-- <img src="{{ spckimg | relative_url }}" alt="{{ speaker.name }}"> -->
          <figcaption class="sr-only">{{ speaker.name }}</figcaption>
        </figure>
        {{ speaker.bio | markdownify }}
        {%- endfor -%}
      </section>
    </article>
    <hr>
    {%- endfor -%}

  </div>
</section>

{% include banners/forum.html locale=page.locale %}
