---
title: Programme
description: Le programme de l'édition 2018 de Sud Web
i18n-key: programme
permalink: /programme/
---

{%- assign conferences = site.talks | sort: "display-order" -%}
{%- assign number_of_conferences = conferences | where_exp:"item","item.type != 'pause'"| size -%}

<section class="section">
  <div class="wrapper">
    <h1>Le programme 2018 : {{ number_of_conferences }} conférences</h1>

    {% for conference in conferences %}
    <article class="conference">
      <h2>{{ conference.title }}</h2>
      <p>
        {{ conference.description | markdownify }}
      </p>
      <section class="conference-speaker">
        <figure class="conference-speaker-pic">
          {% capture spckimg %}/assets/images/orateurs/{% if speaker.slug %}{{ speaker.slug }}{% else %}{{ speaker.name | slugify }}{% endif %}.jpg{% endcapture %}
          <img src="https://pbs.twimg.com/profile_images/724941999195983872/hWg5kAoc_400x400.jpg" alt="{{ speaker.name }}">
          <!-- <img src="{{ spckimg | relative_url }}" alt="{{ speaker.name }}"> -->
          <figcaption class="sr-only">{{ speaker.name }}</figcaption>
        </figure>
        {% for names in conference.speaker %}
        {% assign speaker = site.data.speakers[names] %}
        <h3 class="conference-speaker-name">
          <em class="text-sm">Présenté par</em><br>
          Nicolas Hoffman
        </h3>
        <p class="conference-speaker-description">
          {{ speaker.bio | markdownify }}
        </p>
        {%- endfor -%}
      </section>
    </article>

    <hr>
    {%- endfor -%}

  </div>
</section>

{% include banners/forum.html locale=page.locale %}
