---
title: Venir à Anduze
description: "Tout pour venir le plus simplement"
i18n-key: come
permalink: /venir-anduze/
---

<section class="section">
    <div class="wrapper">
        <h1>Venir à Sud Web</h1>

        <h2>En transports en communs</h2>

        Cette année, pour venir en transport en commun à Sud Web vous allez devoir prendre une correspondance et passer par Nîmes :

        <ul>
            <li>
                <a href="https://www.trainline.fr/search/paris/nimes/2018-05-24-12:00/2018-05-26-18:00">En TGV</a> vous arriverez jusqu’à Nîmes directement.
            </li>

            <li>
                <p>En avion : l'aéroport le plus proche est celui de Montpellier, puis vous pourrez prendre le train jusqu'à Nîmes.</p>
                <p>Air France propose des réductions grâce au code <a href="http://globalmeetings.airfranceklm.com/Search/promoDefault.aspx?vendor=AFR&promocode=32930AF&currentculture=fr-FR">32930AF</a></p>
                <p>Depuis Londres, Bordeaux, Nantes, Strasbourg … liste des liaisons de l'aéroport <a href="http://www.montpellier.aeroport.fr/fr/destinations/vols-directs-montpellier">ici</a></p>
            </li>
        </ul>

        <h3>Depuis Nîmes</h3>

        <p>En bus : il y a une liaison directe entre Nîmes et Anduze.<br>
            <a href="https://www.edgard-transport.fr/ftp/FR_lignes/A12_Horaires%20du%2008%20janvier%20au%2006%20juillet%202018_Doublages%20scolaires%20inclus.pdf">Horaires de la ligne A12 de Edgard Transport</a>
        </p>

        <p>
            Vous pourrez également continuer en <a href="https://www.trainline.fr/search/nimes/ales/2018-05-24-12:00/2018-05-26-18:00">Train (TER)</a> jusqu'à Alès depuis Nîmes (30min environ - 9,90 €) De 6:15 à 21:15.<br>
            Puis de Alès à Anduze en bus :<br>
            <a href="https://www.ntecc.fr/fileadmin/Sites/Ntecc/documents/HORAIRES_2016_2017/L72_Janv_2017.pdf">Ligne 72 de NTECC</a><br>
            <a href="https://www.ntecc.fr/fileadmin/Sites/Ntecc/documents/HORAIRES_2017_2018/L81_Dec2017v2.pdf">Ligne 81 de NTECC</a>
        </p>
    </div>
</section>

{% include banners/train.html locale=page.locale %}

<section class="section">
    <div class="wrapper">
        <h2>En voiture</h2>

        <h3>En voiture personnel :</h3>

        <p>Si vous décidez de prendre un véhicule personnel ou de location, pensez au covoiturage. <br>
            Qu'il s'agisse d'un trajet de longue durée ou uniquement d'une portion Nîmes-Anduze, maximisez l'usage de votre voiture en embarquant d'autres participant·e·s ! Un parking sera disponible au Val de l'Hort pour les véhicules.</p>

        <p>
            Vous cherchez une voiture à rejoindre ? Vous souhaitez proposer une place à bord de votre véhicule ?<br>
            > un widget <
        </p>

        <h3>En taxi :</h3>
        de Nîmes : autour de 110 €
        d'Alès : autour de 35 €
        de Montpellier : autour de 150 €
    </div>
</section>

{% include banners/hands.html locale=page.locale %}

<section class="section">
    <div class="wrapper">
        <h2>Ce qui est sûr, c'est que vous ne serez pas seuls !</h2>
        <p>
            Vous pouvez aussi vous organiser sur <a href="https://sudweb.slack.com/messages/C8WQ8NZPA/">le slack</a> de l'événement
        </p>
        <p>
            Profitez de ces moment pour vous retrouver, dans le train, durant les correspondances. <br>
            Échangez, échangeons, pleins de solutions sont à votre disposition !
        </p>
        <p>Bon voyage :)</p>
    </div>
</section>
