---
title: "Our sponsors"
description: "They chose to support us out of love for UX and Web performance."
i18n-key: 2024-sponsors
permalink: /en/2024/thanks/
---

{% assign year = page.year | default: site.current_edition %}
<section class="section">
  <div class="wrapper wrapper--content">
    <h1 class="text-center">Our sponsors</h1>
    <p>
      E-merchants, solution providers, service providers, they have chosen to
      support us for the love of UX and Web performance. Without them, there
      would be no event. Thank you very much!
    </p>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    {% include sponsors-preview.html page=page locale=page.locale asSection=false linkAsAnchor=true year=year %}
  </div>
</section>

{% if goldCount > 0 and othersCount > 0 %}
  {% include banners/banner-elephant-nantes.html locale=page.locale %}
  {% include sponsors-descriptions.html locale=page.locale year=year %}
{% endif %}

{% include banners/banner-elephant-nantes.html locale=page.locale %}
