---
title: "Our sponsors"
description: "They chose to support us out of love for UX and Web performance."
i18n-key: 2024-sponsors
permalink: /en/2024/thanks/
---

{% assign year = page.year | default: site.current_edition %}
<section class="section">
  <div class="wrapper">
    <h1 class="text-center">Our Gold sponsors</h1>
    <p>
      E-merchants, solution providers, service providers, they have chosen to
      support us for the love of UX and Web performance. Without them, there
      would be no event. Thank you very much!
    </p>
  </div>
</section>

{% if site.data.sponsors[page.year].gold.size > 0 or site.data.sponsors[include.year].others.size > 0 %}
  {% include sponsors.html locale=page.locale shorturl=true year=year %}
{% endif %}

{% if site.current_edition == year and site.sponsoring.show %}
  <section id="sponsors" class="section">
    <div class="wrapper">
      <p class="text-center">
        {% if site.sponsoring[page.locale] %}
          <a class="button" data-text="Download our Sponsorship Kit ({{ site.sponsoring[page.locale].size }})" href="{{ site.sponsoring[page.locale].url | relative_url }}"><span class="button-inner">Download our Sponsorship Kit ({{ site.sponsoring[page.locale].size }})</span></a>
        {% else %}
          <a class="button" data-text="Contact us to be among our sponsors" href="/en/contact/"><span class="button-inner">Contact us to be among our sponsors</span></a>
        {% endif %}
      </p>
    </div>
  </section>
{% endif %}

{% if site.data.sponsors[page.year].gold.size > 0 or site.data.sponsors[include.year].others.size > 0 %}
  {% include banners/banner-dat-vo-social-unsplash.html locale=page.locale %}

  {% include sponsors-descriptions.html locale=page.locale year=year %}
{% endif %}

{% include banners/banner-dat-vo-social-unsplash.html locale=page.locale %}
