---
title: Billetterie
description: "Réservez votre place, il n'y en aura pas pour tout le monde"
i18n-key: register
permalink: /en/register/
---

<section class="section">
  <div class="wrapper">
    <h1>Book your ticket</h1>
    <div class="grid-3">
      <section>
        <h3>A day of talks</h3>
        <p>On Friday, a day of transmission, feedback and emotion.</p>
      </section>
      <section>
        <h3>A day of barcamp</h3>
        <p>On Saturday, a day of exchange and co-construction, where everything becomes possible.</p>
      </section>
      <section>
        <h3>All informal moments</h3>
        <p>Especially community evenings (Thursday and Friday) to get to know each other, relax and chat in a relaxing environment.</p>
      </section>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>A two-part fee</h2>
    <div class="grid-2">
      <section>
        <h3>Full Price Ticket</h3>
        <p>To make sure you can participate in Sud Web, from Thursday evening to Saturday, with meals included and accommodation offered, choose the full price.</p>
      </section>
      <section>
        <h3>Free donation</h3>
        <p>This donation will help fund very low-cost tickets for those in need.</p>
      </section>
    </div>
    <div class="text-center">
      <a href="https://sudweb.fr/blog/2018/les-tarifs-de-sud-web-2018/">Learn more about it on our blog (fr)</a>
    </div>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="register">
  <div class="wrapper">
    <h2>{% t Acheter votre place %}</h2>
    <a title="Logiciel billetterie en ligne" href="https://www.weezevent.com/?c=sys_widget" class="weezevent-widget-integration" target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=308930&lg_billetterie=46&code=76027&resize=1&width_auto=1&color_primary=93ac3d" data-width="650" data-height="600" data-id="308930" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a><script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>The Power of Choice</h2>
    <p>You can choose to experience the event in different ways: by staying at Val de l' Hort with us for the duration of the event or by taking advantage of what Anduze has to offer in terms of accommodation, meals and other entertainment.</p>
    <p>But in any case, you will be cared for and well fed. Each ticket includes copious breakfasts, delicious lunch buffets, and small snacks during breaks to avoid hypoglycemia. Without forgetting community evenings, to continue the discussions started during the day.</p>
    <p>If you have any questions, feel free to contact us by <a href="mailto:contact@sudweb.fr" title="Send us an email">mail</a>, on <a href="https://twitter.com/sudweb">Twitter</a>, or <a href="http://sudweb.herokuapp.com/">Slack</a>.</p>
  </div>
</section>

{% include register-section.html inside=true %}

{% include banners/station.html locale=page.locale %}
