---
title: Register
description: "Book your ticket, there won't be one for everyone"
i18n-key: register
permalink: /en/register/
---

{% if site.tickets.selling %}
<section class="section" id="register">
  <div class="wrapper">
    <h2>Purchase a ticket</h2>
    <p>Weezevent Embed code</p>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>
{% else %}
  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">The tickets aren't for sale yet!</h2>
      <p>
        Do you want to be informed as soon as tickets go on sale? Subscribe to our newsletter :
      </p>
      {% include newsletter-form.html context="register" %}
    </div>
  </section>
{% endif %}
{% if site.tickets.waiting-list %}
<section class="section" id="register">
  <div class="wrapper">
    <h2>Waiting list</h2>
    <p>All tickets available for this edition have been sold. It is possible that new places will become available in the event of withdrawal.</p>
    <p>Join the waiting list to be notified as soon as a place becomes available.</p>
    <form method="post" id="waiting-list-form" action="https://docs.google.com/forms/d/e/1FAIpQLSdshv4_du-1vKF7-S_p9NC_xHZIKBg4VYUFT7jkLgtP5VF1Zg/formResponse" enctype="multipart/form-data">
      <div class="p-like">
        <label for="wl-email">{% t Votre email %} {% t (obligatoire) %}</label>
        <input type="email" name="entry.1045781291" id="wl-email" required placeholder="ex : michel@vaillante-f1.fr">
      </div>
      <div class="p-like">
        <label for="wl-name">{% t Votre nom %} {% t (obligatoire) %}</label>
          <input type="text" name="entry.1612045899" id="wl-name" required placeholder="ex : Michel Vaillant">
      </div>
      <div class="p-like">
        <label for="wl-tel">{% t Votre numéro %} {% t (obligatoire) %}
        <input type="text" name="entry.972508085" id="wl-tel" required placeholder="ex : +33123456789">
      </div>
      <div class="p-like text-center">
        <button type="submit" class="button" data-text="register on the waiting list">
          <span class="button-inner">register on the waiting list</span>
        </button>
      </div>
    </form>
  </div>
</section>
{% endif %}

<hr class="wrapper">

<section class="section">
  <div class="wrapper">
    <h2>How to get to Bordeaux?</h2>
    <section>
      <p>We have solutions! Follow the tips we've prepared for a trouble-free trip.</p>
    </section>
    <p class="text-center">
      <a class="button" data-text="come to Bordeaux" href="{{ page.baseurl | default:site.baseurl }}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">come to Bordeaux</span></a>
    </p>
  </div>
</section>

<hr class="wrapper">

{% include banners/banner-grand-theatre.html locale=page.locale %}
