---
title: "Help Sud Web: offer tickets!"
description: "Do you want to help us fund Sud Web. Here are some explanations."
i18n-key: faq-finance
permalink: /en/support/
---

<section class="section">
  <div class="wrapper">
    <h1>Help Sud Web: offer tickets!</h1>
    <p>
      This year, <a href="https://sudweb.fr/blog/2018/les-tarifs-de-sud-web-2018/">after having given it a lot of thought (FR)</a>, we changed our funding formula. No more company-based <span lang="en">sponsoring</span>, everyone can contribute to making Sud Web an exceptional, diverse and popular event. To do this, there are several possibilities:
    </p>
    <ul>
      <li><a href="#crowdfounding">Contribute to the crowdfunding campaign</a></li>
      <li><a href="#gifts">Invite people to the event</a></li>
      <li><a href="#diversity">Encourage diversity</a></li>
    </ul>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="crowdfounding">
  <div class="wrapper">
    <h2>Contribute to the crowdfunding campaign</h2>
    <p>Beginning in January, a crowdfunding campaign will fund discount tickets at a reduced price of 50€. At first, 5 places will be available. Every 200€ of donations, a new place will be added.</p>
    <p>You can <strong>contribute to the crowdunding</strong> while you buy your own ticket, or freely donate.</p>
    <p><strong>Companies and organizations</strong>, you can continue to support Sud Web in the same way as you did in the previous years:</p>
    <ul>
      <li>Instead of a 500€ sponsoring, donate 500€: you will enable more than 2 people to take advantage of a discounted ticket </li>
      <li>Instead of a 1000€ sponsoring, buy a ticket and donate 750€: you will enable more than 3 people to take advantage of a discounted ticket</li>
      <li>Instead of a 2000€ sponsoring, buy three tickets and donate 1&#8239;250€: you will enable more than 6 people to take advantage of a discounted ticket</li>
    </ul>
    <p>Or freely support the event!</p>
    <p>Obviously, other possibilities are available. In particular, you can encourage diversity by <a href="#gifts">inviting specific people</a> or let us <a href="#diversity">offer tickets to diversity initiatives</a>.</p>
  </div>
</section>

{% include register-section.html label='Contribute to the crowfunding' inside='true' %}

<hr class="wrapper">

<section class="section" id="gifts">
  <div class="wrapper">
    <h2>Invite specific people</h2>
    <p>The first richness of our industry is people. Whatever their profession, whatever their experience, they will be welcome at Sud Web. And if they come from outside our industry, it's even better! Everyone benefits from a complementary view of the world.</p>
    <p><strong>Companies and organizations</strong>, you can offer tickets to your employees or members. Rewards, internal games… how you ensure the distribution is up to you. One thing is certain: the beneficiaries will be satisfied.</p>
    <p>Do you like this opportunity? Feel free to also <a href="#crowdfounding">contribute to our crowdfunding</a>.</p>
  </div>
</section>

{% include register-section.html label='Invite people' inside='true' %}

<hr class="wrapper">

<section class="section" id="diversity">
  <div class="wrapper">
    <h2>Encourage diversity</h2>
    <p>Do you want our industry to be more open to diversity, more socially responsible? We too, and we're not the only ones. Initiatives like <a href="https://diversitytickets.org/">DiversityTickets.org</a> welcome free or discounted tickets and redistribute them.</p>
    <p>If you wish us to distribute the tickets you fund through your donations to a specific initiative of this type, please let us know at the time of purchase. We will ask you if you would like to display a specific logo with a URL on our "thank you" page. A good opportunity to showcase a company or charity organization of your choosing.</p>
    <p><strong>Companies and organizations</strong>, use this opportunity to demonstrate your commitment to diversity. Diversity is not only an ethical value, but also an economic strength: it increases open-mindedness, innovation and a better understanding of your customers' (also diverse) expectations.</p>
    <p>If you want to get in touch with organisations that value diversity yourself, please don't hesitate to buy tickets <a href="#gifts">offer them to specific initiatives</a>.</p>
  </div>
</section>

{% include register-section.html label='Encourage diversity' inside='true' %}

<hr class="wrapper">

<section class="section" id="register">
  <div class="wrapper">
    <h2>Billeterie</h2>
    <a title="Billetterie en ligne pour Sud Web" href="https://www.weezevent.com/?c=sys_widget" class="weezevent-widget-integration"
      target="_blank" data-src="https://www.weezevent.com/widget_billeterie.php?id_evenement=308930&lg_billetterie=1&code=76027&resize=1&width_auto=1&color_primary=93ac3d"
      data-width="650" data-height="600" data-id="308930" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0">Billetterie Weezevent</a>
    <script type="text/javascript" src="https://www.weezevent.com/js/widget/min/widget.min.js"></script>
  </div>
</section>

{% include banners/station.html locale=page.locale %}
