---
title: "The More Human Web Conference"
description: Two days to fill up with inspiration.
i18n-key: home
permalink: /en/
redirect_from:
  - /en/thym/
---

{% include banners/bambouseraie.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Why is Sud Web more human?</h2>
    <p>Because we focus on <strong>narratives and feedback</strong> rather than technical conferences.</p>
    <p>Because we want to <strong>create connections</strong> between the web crafts·wo·men and all the other activities&nbsp;: the story of each person resonates in our own experience.</p>
    <p>Because we encourage <strong>informal conversations</strong> and make sure that they occur in pleasant, family-friendly and circulating spaces.</p>
    <p>Because we create the conditions for a self-managed human adventure: we use the barcamp codes to organize <strong>a two-day immersive adventure</strong> in a convivial place.</p>
  </div>
</section>

{% include banners/forum.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">The talks</h2>
    <p>
      Feedback, out-of-the-box thinking, narratives… which will <span title="like a dolphin!">echo</span> your professional daily life. Every year, a unique and diverse selection that should inspire you.
    </p>
    <p class="text-center">
      <a class="button" data-text="videos" href="https://vimeo.com/album/3981563" title="Watch videos of previous sessions">
        <span class="button-inner">videos</span>
      </a>
      <a class="button" data-text="photos" href="https://www.flickr.com/people/sudweb/" title="See photos of previous sessions">
        <span class="button-inner">photos</span>
      </a>
    </p>
    <p class="text-center">
      <a class="button" data-text="{% t voir le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "programme" | t: page.locale }}/" title="{% t Voir le programme de Sud Web 2018 %}">
        <span class="button-inner">{% t voir le programme %}</span>
      </a>
    </p>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="forum-ouvert">
  <div class="wrapper">
    <h2 class="text-center">The Barcamp</h2>
    <div class="grid-3 text-center">
      <div>
        <svg width="1em" class="illustration" role="img" aria-label="Post it" viewBox="0 0 20 20">
          <use xlink:href="{{ "/assets/svg/symbol-defs.svg#postit" | append: social.name | relative_url }}"/>
        </svg>
        <p>
          <strong>You</strong> are the main actors of a self-organized, passionate day.
        </p>
      </div>
      <div>
        <svg width="1em" class="illustration" role="img" aria-label="Flip flops" viewBox="0 0 20 20">
          <use xlink:href="{{ "/assets/svg/symbol-defs.svg#flip-flops" | append: social.name | relative_url }}"/>
        </svg>
        <p class="pres-desc">
          You are <strong>free</strong> to switch from one activity to another at any time.
        </p>
      </div>
      <div>
        <svg width="1em" class="illustration" role="img" aria-label="Discussions" viewBox="0 0 20 20">
          <use xlink:href="{{ "/assets/svg/symbol-defs.svg#bubble" | append: social.name | relative_url }}"/>
        </svg>
        <p class="pres-desc">
          <strong>You submit topics</strong> that you think about with other participants.
        </p>
      </div>
    </div>
  </div>
</section>

{% include banners/chemin.html locale=page.locale %}

<section class="section" id="dodo">
  <div class="wrapper">
    <h2 class="text-center">Sleeping in Val de l’Hort</h2>
    <p>
      <strong>This year, sleep right there</strong> for more informal talks! See our article "<a href="https://sudweb.fr/blog/2018/un-lieu-plutot-qu-une-ville/" lang="fr">Choisir un lieu plutôt qu’une ville (fr)</a>" to know more about this decision.
      <strong>Accommodation is included in the ticket fee.</strong>
    </p>
    <p>
      <strong>
        <a href="http://valdelhort.com/" target="_blank" rel="noopener noreferrer">The "<span lang="fr">Val de l’Hort</span>"
          <span class="sr-only">(open in a new window)</span>
        </a>
      </strong> will accommodate us from Thursday evening to Saturday, in dormitories, tents or double rooms (see the website for
      more details). Don’t hesitate to <a href="{{ "/contact/" | relative_url }}" title="Contact the Sud Web Thym">contact us</a> for any question.
    </p>
    <p class="small-size">
      If you do not wish to stay in Val de l’ Hort, <a href="{{ page.baseurl | default:site.baseurl }}/{% t alternatives-logement %}/">alternatives</a> exist.
    </p>
    <p class="text-center">
      <a class="button" data-text="{% t réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ "billetterie" | t: page.locale }}/" title="{% t Venir à Sud Web 2018 %}">
        <span class="button-inner">{% t réserver votre place %}</span>
      </a>
    </p>
    <div class="grid-3">
      <figure role="group" aria-labelledby="fig1">
        <img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ "/assets/images/anduze/val-de-lhort-1-460.jpg" | relative_url }}" alt="A circulating space" width="460" height="307">
        <figcaption id="fig1" class="text-xs text-center">A circulating space</figcaption>
      </figure>
      <figure role="group" aria-labelledby="fig1">
        <img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ "/assets/images/anduze/val-de-lhort-2-460.jpg" | relative_url }}" alt="Peaceful and shady places" width="460" height="307">
        <figcaption id="fig2" class="text-xs text-center">Peaceful and shady places</figcaption>
      </figure>
      <figure role="group" aria-labelledby="fig1">
        <img src="{{ site.lazyload.placeholder }}" class="lozad" data-src="{{ "/assets/images/anduze/val-de-lhort-3-460.jpg" | relative_url }}" alt="Tourism and Handicap Label" width="460" height="307">
        <figcaption id="fig3" class="text-xs text-center">"Tourism and Handicap" Label</figcaption>
      </figure>
    </div>
  </div>
</section>

{% include banners/station.html locale=page.locale %}
