---
title: Home
description: On October 9, 2018, in Bordeaux, a day of conferences dedicated to web performance
i18n-key: home
permalink: /en/
intro: >-
  Welcome to the first French event dedicated to web performance! Created by and for the webperf community, We ❤️ Speed was born from the desire to share the knowledge and experience about webperf as widely as possible. Web professionals, e-commerce professionals and webperf experts, this event is made for you!
---

{% include banners/grand-hotel.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/sainte-catherine.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

<hr class="wrapper">

<section class="section" id="forum-ouvert">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/grand-theatre.html locale=page.locale %}

<section class="section" id="dodo">
  <div class="wrapper">
    <h2 class="text-center">Lorem sit dolor amet.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nos paucis ad haec additis finem faciamus aliquando; Age nunc isti doceant, vel tu potius quis enim ista melius? Quae cum magnifice primo dici viderentur, considerata minus probabantur. Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Quis est, qui non oderit libidinosam, protervam adolescentiam?</p>
  </div>
</section>

{% include banners/pexels-409701.html locale=page.locale %}
