---
title: Home
description: >-
  A day of conferences dedicated to web performance. Metrics, UX, code and image optimizations. Come and meet the experts!
i18n-key: home-2019
permalink: /en/2019/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" loading="lazy"/>
      <div class="home-main-title-baseline">
        {{ site.data.editions[page.year].tagline[page.locale] }}<br/>
        <small>This edition is over.<br><small>Thanks to all the people who made it a success!</small></small>
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="slides and videos" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "interventions" | t: page.locale }}/" title="slides et videos">
        <span class="button-inner">slides and videos</span>
      </a>
      <a class="button" data-text="audience feedback" href="{{ page.baseurl | default:site.baseurl }}/{{ "temoignages" | t: page.locale }}/" title="audience feedback">
        <span class="button-inner">audience feedback</span>
      </a>
      <a class="button" data-text="pictures ({{ site.data.editions[page.year].pictures.title }})" href="{{ site.data.editions[page.year].pictures.url }}" title="pictures ({{ site.data.editions[page.year].pictures.title }})">
        <span class="button-inner">pictures ({{ site.data.editions[page.year].pictures.title }})</span>
      </a>
      {% if site.current_edition != page.year %}
        <a class="button" data-text="{% t Voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t Voir l'édition courante %}">
          <span class="button-inner">{% t Voir l'édition courante %}</span>
        </a>
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale year=page.year %}
{% endif %}

  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Stay in the loop!</h2>
      <p>
        Subscribe our newsletter to receive information about the event.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>

{% include banners/banner-corbusier.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">The only French event dedicated to chasing waterfalls!</h2>
    <p>Created in 2018 by and for the webperf community, the "{{ site.title }}" not-for-profit conference is born from the desire to share as widely as possible knowledge and experience about webperf. Web professionals, e-commerce and webperf experts, this event is for you!</p>
    <p>Decision makers, developers... let's meet for a day, and maybe a few evenings, in one of the most beautiful cities in France, to discuss web performance: its challenges, its implementation, its stakeholders but also the organization of the companies that implement it.</p>
    <p class="text-center">
      <a class="button" data-text="{% t Voir les vidéos de l'année dernière %}" href="https://www.youtube.com/watch?v=RG5IKvSMg20&list=PLqQ-opbi5cUMbSedX4whMc_YjXP_wcSDg" title="{% t Voir les vidéos de l'année dernière %}">
        <span class="button-inner">{% t Voir les vidéos de l'année dernière %}</span>
      </a>
    </p>
  </div>
</section>

{% include banners/banner-roundtable.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Our Gold sponsors</h2>
    <p>E-merchants, solution providers, service providers, they have chosen to support us for the love of UX and Web performance. Without them, there would be no event. Thank you very much!</p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="download our sponsorship kit ({{ site.sponsoring[page.locale].size }})" href="{{ site.sponsoring[page.locale].url | relative_url }}"><span class="button-inner">download our sponsorship kit ({{ site.sponsoring[page.locale].size }})</span></a>
    </p>
  </div>
</section>

{% include banners/banner-cocktail.html locale=page.locale %}
