---
layout: default
---
{% if page.category %}
    {% assign cats_eyes = page.category|size %}
    {% if cats_eyes > 0 %}{% assign has_cat = true %}{% else %}{% assign has_cat = false %}{% endif %}
{% endif %}{% if page.locale %}
    {% assign locale_size = page.locale|size %}
    {% if locale_size > 0 %}{% assign has_locale = true %}{% else %}{% assign has_locale = false %}{% endif %}
{% endif %}{% if page.url %}
    {% assign the_url = page.url %}
{% else %}
    {% assign the_url = site.url %}
{% endif %}<section class="posts" aria-label="{% t Tous les articles %}" >

    {% include post.html post=page %}

    {% include pagination.html %}
</section>
