---
layout: default
---

{%- assign year = page.pub_date | date: "%Y" | plus: 0 -%}

{%- capture speakers -%}
  {%- for name in page.speakers -%}
    {% assign speaker = site.data.speakers[year][name] %}

    {%- if speaker.image -%}
      {%- assign avatarSource = speaker.image | relative_url -%}
    {%- else -%}
      {%- assign avatarSource = "/assets/images/speakers/incognito.png" | relative_url -%}
    {%- endif -%}

    <a href="#{{ name }}" class="person-inline">
      {% cloudinary thumbnail {{ avatarSource }} class="person-inline-avatar" alt="" width="26" height="26" %}
      {{- speaker.name -}}
    </a>
    {%- if forloop.last == false %}|{% endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture array_to_sentence_word -%}
  {{- "et" | t: page.locale -}}
{%- endcapture -%}

{%- assign verbatim = page -%}
{%- assign other_verbatim = page.translation %}

{%- capture interventionsUrl -%}
  {%- if site.current_edition < year or site.infos.interventions -%}
    /{{ year }}/{{ "interventions" | t: page.locale }}/
  {%- else if site.infos.schedule -%}
    /{{ year }}/{{ "programme" | t: page.locale }}/
  {%- else -%}
    /{{ year }}/
  {%- endif -%}
{%- endcapture -%}

{% assign seo_title = verbatim.title %}

<section class="section">
  <div class="wrapper">
    <header class="conference-header text-left">
      <h1>{{ verbatim.title }} {% if verbatim.subtitle %}<br><small>{{ verbatim.subtitle }}</small>{% endif %}</h1>
      <p>
        par {{ speakers | split: '|' | array_to_sentence_string: array_to_sentence_word }},
        édition <a href="{{ interventionsUrl }}#{{ page.slug }}">{{ year }}</a>
      </p>
    </header>

    {% if site.current_edition == year %}
      {% if site.tickets.selling or site.infos.schedule %}
        <p class="text-left actions">
          {% if site.current_edition == page.year and site.tickets.selling %}
          <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t Réserver votre place %}">
            <span class="button-inner">{% t Réserver votre place %}</span>
          </a>
          {% endif %}

          {% if site.current_edition == page.year and site.infos.schedule %}
          <a class="button" data-text="{% t Voir sur le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/#{{ page.slug }}" title="{% t Voir sur le programme %}">
            <span class="button-inner">{% t Voir sur le programme %}</span>
          </a>
          {% endif %}
        </p>
      {% endif %}
    {% endif %}

    {% include conference_buttons.html verbatim=verbatim other_verbatim=other_verbatim year=year locale=page.talk_locale %}

    {{ verbatim.description | markdownify }}

    <hr />

    {% include speaker_bios.html conference=page year=year locale=page.locale withAnchors=true appearance="large" %}
  </div>
</section>

<hr class="wrapper" />
