---
title: Home
description: >-
  A day of conferences dedicated to web performance. Metrics, UX, code and image optimizations. Come and meet the experts!
i18n-key: 2021-home
permalink: /en/2021/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" loading="lazy"/>
      <div class="home-main-title-baseline">
        {{ site.data.editions[page.year].tagline[page.locale] }}<br/>
        <small>The French event for web performance enthusiasts, at the Palais de la Bourse in Lyon!</small>
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      {% comment %}
      <a class="button" data-text="{% t Voir sur Youtube %}" href="https://youtu.be/6aupyVi_QMU" title="{% t Voir sur Youtube %}">
        <span class="button-inner">{% t Voir sur Youtube %}</span>
      </a>
      <a class="button" data-text="{% t Voir le programme %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/" title="{% t Voir le programme %}">
        <span class="button-inner">{% t Voir le programme %}</span>
      </a>
      {% endcomment %}
      <a class="button" data-text="{% t Intervenant‧es %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "interventions" | t: page.locale }}/" title="{% t Intervenant‧es %}">
        <span class="button-inner">{% t Intervenant‧es %}</span>
      </a>
      {% if site.current_edition == page.year and site.cfp_open %}
      <a class="button" data-text="{% t Proposer un sujet %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/cfp" title="{% t Proposer un sujet %}">
        <span class="button-inner">{% t Proposer un sujet %}</span>
      </a>
      {% endif %}
      {% if site.current_edition == page.year and site.tickets.selling %}
      <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/" title="{% t Réserver votre place %}">
        <span class="button-inner">{% t Réserver votre place %}</span>
      </a>
      {% if site.infos.display %}
      <br/>
      <a class="button" data-text="{% t Infos pratiques %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "infos-pratiques" | t: page.locale }}/" title="{% t Infos pratiques %}">
        <span class="button-inner">{% t Infos pratiques %}</span>
      </a>
      {% endif %}
      {% endif %}
      {% if site.current_edition == page.year and site.tickets.waiting-list %}
      <a class="button" data-text="{% t S'incrire en liste d'attente %}" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "billetterie" | t: page.locale }}/#register" title="{% t S'incrire en liste d'attente %}">
        <span class="button-inner">{% t S'incrire en liste d'attente %}</span>
      </a>
      {% endif %}
      {% if site.current_edition != page.year %}
      <a class="button" data-text="{% t Voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t Voir l'édition courante %}">
        <span class="button-inner">{% t Voir l'édition courante %}</span>
      </a>
      {% endif %}
    </p>
  </div>
</section>

{% comment %} {%- assign conferences = site.talks | where: "year", page.year | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale year=page.year %}
{% endif %}{% endcomment %}

  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Stay in the loop!</h2>
      <p>
        Subscribe our newsletter to receive information about the event.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>

{% include banners/banner-lyon-restaurants.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">The only French event dedicated to chasing waterfalls!</h2>
    <p>Created in 2018 by and for the webperf community, the "{{ site.title }}" not-for-profit conference is born from the desire to share as widely as possible knowledge and experience about webperf. Web professionals, e-commerce and webperf experts, this event is for you!</p>
    <p>Decision makers, developers... let's meet for a day, and maybe a few evenings, in one of the most beautiful cities in France, to discuss web performance: its challenges, its implementation, its stakeholders but also the organization of the companies that implement it.</p>
    <p class="text-center">
      <a class="button" data-text="{% t Voir les interventions de l'année dernière %}" href="/en/2020/speakers/" title="{% t Voir les interventions de l'année dernière %}">
        <span class="button-inner">{% t Voir les vidéos de l'année dernière %}</span>
      </a>
    </p>
  </div>
</section>

{% include banners/banner-roundtable.html locale=page.locale %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Our Gold sponsors</h2>
    <p>E-merchants, solution providers, service providers, they have chosen to support us for the love of UX and Web performance. Without them, there would be no event. Thank you very much!</p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=year %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="download our sponsorship kit (509&nbsp;KB)" hreflang="fr" href="{{ site.sponsoring[page.locale] | relative_url }}"><span class="button-inner">download our sponsorship kit (509&nbsp;KB)</span></a>
    </p>
  </div>
</section>

{% include banners/banner-cocktail.html locale=page.locale %}

<section id="staff" class="section">
  <div class="wrapper">
    {% include staff.html year=year %}
  </div>
</section>

