@use "../scss/config" as *;
@use "../scss/mixins" as *;
@use "../scss/abstracts" as *;

.page-footer {
  margin: 5% 0 0;

  h2 {
    margin: 0.5em 0;
    font-weight: $font-weight-normal;
  }

  ul {
    @extend %ul-reset;
  }

  .newsletter-form {
    button {
      padding: 0 0.25em;
    }
  }
}
