.page-footer {
	margin: 5% 0 0;

	h3 {
		margin: .5em 0;
		font-weight: $font-weight-normal;
	}

	ul {
		@extend %ul-reset;
	}

	.social-links {
		display: flex; margin: 1em 0;
		flex-flow: row wrap; justify-content: space-between; align-items: center;

		a {
			font-size: 1.5em; color: $default-color;

			&:hover,
			&:focus {
				color: $focus-color;
			}
		}
	}

	.newsletter-form {
		button {
			padding: 0 .25em;
		}
	}
}
