@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../vendors/include-media/include-media" as *;

.pre-header {
  background-color: $darkred;
  color: $white;

  & .wrapper{
    display: flex;
    padding-top: .66em;
    padding-bottom: .66em;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    align-self: stretch;
    flex-direction: row;
  }

  @include media(">=large") {
    & .wrapper{
      justify-content: space-between;
    }
  }

  &-tagline {
    font-weight: 600;
    line-height: 150%;
    text-align: center;
  }
}

.home {
  &-header {
    margin: 20% 0 2em;

    @include media(">medium") {
      margin: 15% 0 2em;
    }
    @include media(">large") {
      margin: 10% 0 2em;
    }
    @include media(">xlarge") {
      margin: 8% 0 2em;
    }
  }

  &-main-title {
    font: $title-font-style $title-font-weight calc(1em / $default-line-height)
      $title-font-family;
    text-align: center;
    color: inherit;

  }

  &-sub-title {
    @include media(">medium") {
      margin-left: 15%;
      margin-right: 15%;
    }
  }
}

.page {
  &-main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    @include media(">=large") {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    &-logo {
      width: 100%;
      max-width: 19rem;
    }
  }

  &-header {
    margin: 1.9rem 0;
    &-buttons {
      display: flex;
      column-gap: 2.4rem;
      align-items: center;
    }
  }
}

.lang-switch {
  text-transform: uppercase;
  color: $hardgrey;
  & a {
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    color: $red;
  }
}