.home {

  &-header {
    margin: 20% 0;

    @include media('>medium') {
      margin: 15% 0;
    }
    @include media('>large') {
      margin: 10% 0;
    }
    @include media('>xlarge') {
      margin: 8% 0;
    }
  }

  &-main-title {
    font: $title-font-style $title-font-weight 1em/$default-line-height $title-font-family; text-align: center; color: inherit;

    // &-logo {
    //   width: 100%; height: auto;
    //   font: $logo-font-style $logo-font-weight 1.6rem/1 $logo-font-family;

    //   image {
    //     position: fixed;
    //   }

    //   text {
    //     fill: url(#pic);
    //   }
    // }

    &-baseline {
      margin-top: 1em;
      font-size: 4.5vw;

      @include media('>=large') {
        font-size: 3em;
      }
    }
  }

  &-sub-title {
    @include media('>medium') {
      margin-left: 15%; margin-right: 15%;
    }
  }
}

.page {

  &-main-title {

    &-logo {
      width: 25%;
    }

    &-baseline {
      float: right;
      margin: 0;
      font-size: 1em; color: $focus-color;

      @include media('>=large') {
        font-size: 2em;
      }
    }
  }

  &-header {
    margin: 100px 0 2em;

    @include media('>small') {
      margin: 100px 0 2em;
    }
    @include media('>medium') {
      margin: 100px 0 2em;
    }
    @include media('>large') {
      margin: 100px 0 2em;
    }
    @include media('>xlarge') {
      margin: 100px 0 2em;
    }
  }
}
