.wrapper {
  width: $wrapper-width; max-width: $wrapper-max-width; margin: 0 auto;
  &.writeups li {
    list-style-type: none;
  }
}

.inline-large {
  display: none;
  @include media('>=large') {
    display: inline-block;
  }
}

.inline-not-large {
  display: none;
  @include media('<large') {
    display: inline-block;
  }
}
