@use "../scss/config" as *;
@use "../vendors/include-media/include-media" as *;

.wrapper {
  width: $wrapper-width;
  max-width: $wrapper-max-width;
  margin: 0 auto;
  padding-left: $global-gutters;
  padding-right: $global-gutters;
  &.writeups li {
    list-style-type: none;
    cite::before {
      display: block;
      content: "_";
    }
  }
}

.inline-large {
  display: none;
  @include media(">=large") {
    display: inline-block;
  }
}

.inline-not-large {
  display: none;
  @include media("<large") {
    display: inline-block;
  }
}

.wrapper-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.wrapper-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
