$nav-menu-height: 45px;
$nav-menu-width-active: $nav-menu-height;
$nav-menu-width-inactive: 1.8 * $nav-menu-height;
$nav-menu-bar-height: $nav-menu-height / 5;

$load-first-start: $nav-menu-bar-height;
$load-first-length: $nav-menu-width-inactive / 2;
$load-second-start: ($load-first-start + $load-first-length) * 0.65;
$load-second-length: $nav-menu-width-inactive / 5 * 2;
$load-third-start: $load-first-start + $load-first-length + 5px;
$load-third-length: ($nav-menu-width-inactive - ($load-first-start + $load-first-length)) * 0.9;

.nav-trigger {
  position: absolute; top: 0; left: 0;

  &::after {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: $zindex-nav-trigger-area;
    background-color: $nav-trigger-area-bg;
    opacity: 0; visibility: hidden; content: ''; pointer-events: none;
    cursor: url('../images/cross.png'), zoom-out;
    @include transition();
  }

  &-button {
    position: fixed; top: .5em; left: .5em; z-index: $zindex-nav-trigger;
    display: block; padding: $nav-menu-bar-height;
    border: 1px solid currentColor;
    color: $nav-trigger-btn-color;
    background-color: $nav-trigger-btn-bg;
    font-size: .875em; color: $nav-trigger-btn-color;
    transition-duration: $nav-toggle-duration;
    width: $nav-menu-width-inactive;
    height: $nav-menu-height;

    & > * {
      display: block;
    }

    > span {
      display: block;
      position: absolute;
      opacity: 1;
      transform: rotate(0deg);
      @include transition();

      &.load {
        height: $nav-menu-bar-height;

        &:nth-child(1) {
          top: $nav-menu-bar-height;
          left: $load-first-start;
          background: linear-gradient(to right, $devtools-dns-lookup, $devtools-dns-lookup 2%, $devtools-initial-connection 2%, $devtools-initial-connection 10%, $devtools-ssl 10%, $devtools-ssl 16%, $devtools-waiting 16%, $devtools-waiting 25%, $devtools-content-download 25%);
          width: $load-first-length;
        }

        &:nth-child(2) {
          top: $nav-menu-bar-height * 3;
          left: $load-second-start;
          background: linear-gradient(to right, $devtools-waiting, $devtools-waiting 20%, $devtools-content-download 20%);
          width: $load-second-length;
        }

        &:nth-child(3) {
          top: $nav-menu-height;
          left: $load-third-start;
          background: linear-gradient(to right, $devtools-dns-lookup, $devtools-dns-lookup 2%, $devtools-initial-connection 2%, $devtools-initial-connection 5%, $devtools-waiting 5%, $devtools-waiting 45%, $devtools-content-download 45%);
          width: $load-third-length;
        }
      }

      &.kpi {
        border-left: 1px solid;
        height: $nav-menu-height;

        &:nth-child(4) {
          left: $load-second-start + $load-second-length;
          border-left-color: $devtools-dcl;
        }

        &:nth-child(5) {
          left: $load-third-start + $load-third-length ;
          border-left-color: $devtools-fl;
        }

      }
    }
  }

  &-button:hover,
  &:focus &-button {
    border-color: currentColor;
    color: $nav-trigger-btn-hover-color;
  }

  &.is-active {
    &::after {
      opacity: 1; visibility: visible; pointer-events: auto;
    }

    .nav-trigger-button {
      background-color: $nav-trigger-btn-active-bg;
      color: $nav-trigger-btn-active-color;
      width: $nav-menu-width-active;
      left: calc( .5em + #{($nav-menu-width-inactive - $nav-menu-width-active) / 3} );

      > span {
        background: $red;
        width: calc(100% - #{$nav-menu-bar-height*2});

        &:nth-child(1) {
          top: $nav-menu-bar-height * 3;
          left: $nav-menu-bar-height;
          transform: rotate(135deg);
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
          opacity: 0;
          left: -1 * $nav-menu-width-active;
        }

        &:nth-child(3) {
          top: $nav-menu-bar-height * 3;
          left: $nav-menu-bar-height;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.page-nav {
  position: fixed; top: 50%; left: 50%; z-index: $zindex-page-nav;
  transform: translate(-50%, -60%);
  box-shadow: 0 0 5em 5em $nav-bg;
  background-color: $nav-bg;
  font: $default-font-style $default-font-weight 1.5em/#{$default-line-height} $default-font-family; text-align: center;
  opacity: 0; visibility: hidden; content: ''; pointer-events: none;
  @include transition('$nav-toggle-duration $nav-toggle-timing-function');

  @include media('>medium') {
    font: $nav-font-style $nav-font-weight 2em/#{$default-line-height} $nav-font-family;
  }

  &.is-active {
    transform: translate(-50%, -50%);
    opacity: 1; visibility: visible; pointer-events: auto;
  }

  ul {
    @extend %ul-reset;
  }

  a {
    padding: .25em .5em;
    border: 1px solid transparent; outline: none;
    font-style: normal; white-space: nowrap; color: $nav-color; text-decoration: none;

    &:hover,
    &:focus {
      border-color: currentColor;
      text-decoration: none;
    }
  }
}
