---
title: Accueil
description: >-
  Une journée de conférences dédiées à la performance web. Métriques, UX, optimisations du code et des images. Venez rencontrer les experts !
i18n-key: 2024-home
permalink: /2024/
---
{% assign year = page.year | default: site.current_edition %}
<header class="home-header">
  <div class="wrapper">
    <h1 class="home-main-title">
      <img src="/assets/svg/wls-inline.svg" class="home-main-title-logo" alt="{{ site.seo_title }}" width="950" height="224" />
      <div class="home-main-title-baseline">
        {% if site.data.editions[page.year].tagline[page.locale].size > 0%}
          {{ site.data.editions[page.year].tagline[page.locale] }}<br>
        {% endif %}
        <small>L’événement français des mordus de web performance revient !</small>
      </div>
    </h1>
  </div>
</header>

<section class="section">
  <div class="wrapper">
    <p class="text-center">
      {%- if site.cfp_open -%}
        <a class="button" target="_blank"  data-text="Appel à propositions" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/cfp" title="appel à propositions">
          <span class="button-inner">Appel à propositions</span>
        </a>
      {%- endif -%}
      {% if site.current_edition == year and site.infos.interventions %}
      <a class="button" data-text="Voir le programme" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "interventions" | t: page.locale }}/" title="Voir le programme">
        <span class="button-inner">Voir le programme</span>
      </a>
      {% endif %}
      {% if site.current_edition == year and site.infos.schedule %}
      <a class="button" data-text="Voir le programme" href="{{ page.baseurl | default:site.baseurl }}/{{ page.year }}/{{ "programme" | t: page.locale }}/" title="Voir le programme">
        <span class="button-inner">Voir le programme</span>
      </a>
      {% endif %}
      {%- comment -%}
      <a class="button" data-text="Témoignages" href="{{ page.baseurl | default:site.baseurl }}/{{ "temoignages" | t: page.locale }}/" title="témoignages">
        <span class="button-inner">Témoignages</span>
      </a>
      <a class="button" data-text="Photos ({{ site.data.editions[page.year].pictures.title }})" href="{{ site.data.editions[page.year].pictures.url }}" title="photos ({{ site.data.editions[page.year].pictures.title }})">
        <span class="button-inner">Photos ({{ site.data.editions[page.year].pictures.title }})</span>
      </a>
      {%- endcomment -%}
      {% if site.current_edition != page.year %}
        <a class="button" data-text="{% t Voir l'édition courante %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/" title="{% t Voir l'édition courante %}">
          <span class="button-inner">{% t Voir l'édition courante %}</span>
        </a>
      {% else %}
        {% if site.tickets.selling %}
          <a class="button" data-text="{% t Réserver votre place %}" href="{{ page.baseurl | default:site.baseurl }}/{{ site.current_edition }}/{{ "billetterie" | t: page.locale }}" title="{% t Réserver votre place %}">
            <span class="button-inner">{% t Réserver votre place %}</span>
          </a>
        {% endif %}
      {% endif %}
    </p>
  </div>
</section>

{%- assign conferences = site.talks | where: "year", page.year | where: "locale", page.locale | sort: "display-order" -%}
{% assign nbconf = conferences | size %}
{% if nbconf > 0 %}
  <hr class="wrapper">
  {% include speakers.html wrap=true conferences=conferences locale=page.locale year=page.year %}
{% endif %}

{% if site.nlOnTop %}
  <hr class="wrapper">

  <section class="section">
    <div class="wrapper">
      <h2 class="text-center">Ne ratez rien !</h2>
      <p>
        Abonnez-vous à notre liste d'envoi pour recevoir des informations sur l'événement par courriel.
      </p>
      {% include newsletter-form.html context="main" %}
    </div>
  </section>
{% endif %}

{% include banners/banner-elephant-nantes.html locale=page.locale %}

<section class="section">
  <div class="wrapper">
    <h2 class="text-center">À propos de We Love Speed</h2>
    <p>Créée en 2018 par et pour la communauté, la conférence à but non-lucratif {{ site.title }} est née de l’envie de partager le plus largement possible les connaissances et expériences en matière de webperf. Professionnel·les du web, de l’e-commerce et expert·es de la webperf, cet événement est fait pour vous&nbsp;!</p>
    <p>Nous attendons près de 160 participants dont des profils décideurs, développeurs, passionnés ou experts en performance web comme chaque année. Mais en 2024, nous souhaitons contribuer encore un peu plus à la démocratisation de la web performance.</p>
    <p>C’est pourquoi nous visons, pour cette édition, un public plus hétéroclite, incluant des profils tels que des Chief Digital Officer, e-commerce, marketing ou encore SEO. Nous sélectionnerons donc des conférences adaptées à toutes les sensibilités. Il y en aura pour tous les goûts !</p>
    <p class="text-center">
      <a class="button" target="_blank" data-text="{% t Voir les vidéos des années précédentes %}" href="https://www.youtube.com/watch?v=q3M4he-QxCA&list=PLqQ-opbi5cUNHus04oKC7Pi6HIxVaMx-k" title="{% t Voir les vidéos des années précédentes %}">
        <span class="button-inner">{% t Voir les vidéos des années précédentes %}</span>
      </a>
    </p>
  </div>
</section>

{% if site.infos.display %}
{% include banners/banner-elephant-nantes.html locale=page.locale %}

<section class="section" id="location">
  <div class="wrapper">
    <h2 class="text-center">Le lieu de l’événement</h2>

    <div class="grid-3">
      <figure aria-labelledby="fig1">
        <a href="/assets/images/2024/location/1.jpg" target="_blank">{% cloudinary venue_preview /assets/images/2024/location/1.jpg alt="Grand bâtiment vitré entouré de verdure et décoré d'une structure en bois." %}</a>
        <figcaption id="fig1" class="text-xs text-center">
          L'espace Canopée abritant les 2 salles de conférence.
        </figcaption>
      </figure>
      <figure aria-labelledby="fig2">
        <a href="/assets/images/2024/location/2.jpg" target="_blank">{% cloudinary venue_preview /assets/images/2024/location/2.jpg alt="Salle de conférence organisée pour un tour de table, vue depuis la place des orateurs et oratrices face à des centaines de chaises." %}</a>
        <figcaption id="fig2" class="text-xs text-center">
          L'une des 2 salles de conférences qui vous accueillera bientôt.
        </figcaption>
      </figure>
      <figure aria-labelledby="fig3">
        <a href="/assets/images/2024/location/3.jpg" target="_blank">{% cloudinary venue_preview /assets/images/2024/location/3.jpg alt="Espace de réception généreusement éclairé grâce à la façade vitrée, et agrémenté de nombreuses plantes." %}</a>
        <figcaption id="fig3" class="text-xs text-center">
          La galerie est un espace très clair, idéal pour les réceptions.
        </figcaption>
      </figure>
    </div>

    <p class="text-center">
       Rendez-vous à EXPONANTES, au <strong>nord de Nantes</strong>.
    </p>
    <p class="text-center">
      <a class="button" data-text="Informations Pratiques" target="_blank" href="{{ page.baseurl | default:site.baseurl }}/{{page.year}}/{{ "infos-pratiques" | t: page.locale }}/"><span class="button-inner">Informations Pratiques</span></a>
    </p>
  </div>
</section>
{% endif %}

{% include banners/banner-elephant-nantes.html locale=page.locale %}

<section class="section" id="sponsors">
  <div class="wrapper">
    <h2 class="text-center">Ils nous soutiennent !</h2>
    <p>E-commerçants, éditeurs de solutions, prestataires de services, ils nous soutiennent par amour de l'UX et de la performance Web. Sans eux, point d'événement. Merci beaucoup !</p>

    <p class="text-center">
      {% assign goldCount = site.data.sponsors[page.year].gold.size %}
      {% assign othersCount = site.data.sponsors[page.year].others.size %}
      {% if goldCount > 0 or othersCount > 0 %}
        <a class="button" data-text="Voir plus" target="_blank" href="{{ page.baseurl | default:site.baseurl }}/{{page.year}}/{{ "merci" | t: page.locale }}/"><span class="button-inner">Voir plus</span></a>
      {% endif %}

      {% if site.current_edition == year and site.sponsoring.show %}
        {% if site.sponsoring[page.locale] and site.sponsoring[page.locale].up_to_date %}
          <a class="button" data-text="Afficher notre dossier sponsor" target="_blank" href="{{ site.sponsoring[page.locale].url }}"><span class="button-inner">Afficher notre dossier sponsor</span></a>
        {% else %}
          <a class="button" data-text="Contactez-nous pour faire partie des sponsors" href="/en/contact/"><span class="button-inner">Contactez-nous pour faire partie des sponsors</span></a>
        {% endif %}
      {% endif %}
    </p>
  </div>

  {% include sponsors.html locale=page.locale shorturl=false year=year  hideOthers=false %}
</section>

{% include banners/banner-cocktail.html locale=page.locale %}

<section id="staff" class="section">
  <div class="wrapper">
    {% include staff.html year=year %}
  </div>
</section>
