---
title: Interventions
description: Le programme de l'édition 2024 de We Love Speed
i18n-key: 2024-interventions
permalink: /2024/interventions/
---

{%- assign conferences = site.talks | where: "year", page.year | where: "locale", page.locale | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale shorturl=true h1=true year=page.year %}

<hr class="wrapper">

{% include conferences.html conferences=conferences locale=page.locale year=page.year %}

<section class="section" id="conferences">
  <div class="wrapper">
    <h2 class="text-center">Ils nous soutiennent !</h2>
    <p>E-commerçants, éditeurs de solutions, prestataires de services, ils nous souteniennent par amour de l'UX et de la performance Web. Sans eux, point d'événement. Merci beaucoup !</p>
    <p class="text-center">
      <a class="button" data-text="Voir plus" target="_blank" href="{{ page.baseurl | default:site.baseurl }}/{{page.year}}/{{ "merci" | t: page.locale }}/"><span class="button-inner">Voir plus</span></a>
    </p>
  </div>
</section>

{% include sponsors.html locale=page.locale shorturl=false year=page.year  hideOthers=false %}

<section id="sponsors" class="section">
  <div class="wrapper">
    <p class="text-center">
      <a class="button" data-text="Télécharger notre dossier sponsor ({{ site.sponsoring[page.locale].size }})" target="_blank" href="{{ site.sponsoring[page.locale].url | relative_url }}"><span class="button-inner">Télécharger notre dossier sponsor ({{ site.sponsoring[page.locale].size }})</span></a>
    </p>
  </div>
</section>

