---
title: Interventions
description: Le programme de l'édition 2024 de We Love Speed
i18n-key: 2024-interventions
permalink: /2024/interventions/
---

{%- assign conferences = site.talks | where: "year", page.year | where: "locale", page.locale | sort: "display-order" -%}
{% include speakers.html conferences=conferences locale=page.locale shorturl=true h1=true year=page.year %}

<hr class="wrapper">

{% include conferences.html conferences=conferences locale=page.locale year=page.year %}

{% include sponsors-preview.html page=page locale=page.locale year=page.year asSection=true linkAsAnchor=false %}
