---
title: "Nos sponsors"
description: "Ils ont choisi de nous soutenir par amour de l'UX et de la performance Web."
i18n-key: 2024-sponsors
permalink: /2024/merci/
---

{% assign year = page.year | default: site.current_edition %}
<section class="section">
  <div class="wrapper wrapper--content">
    <h1 class="text-center">Nos sponsors</h1>
    <p>
      E-commerçants, éditeurs de solutions, prestataires de services, ils ont
      choisi de nous soutenir par amour de l'UX et de la performance Web. Sans
      eux, point d'événement. Merci beaucoup !
    </p>
  </div>
</section>

<section class="section">
  <div class="wrapper">
    {% include sponsors-preview.html locale=page.locale asSection=false linkAsAnchor=true year=year %}
  </div>
</section>

{% if goldCount > 0 and othersCount > 0 %}
  {% include banners/banner-elephant-nantes.html locale=page.locale %}
  {% include sponsors-descriptions.html locale=page.locale year=year %}
{% endif %}

{% include banners/banner-elephant-nantes.html locale=page.locale %}
