@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../vendors/include-media/include-media" as *;

[class*=" banner-"],
[class^="banner-"] {
  position: relative;
  background: center / cover no-repeat;
  height: 40vh;
  min-height: 20em;
  background-attachment: fixed;
}

@each $slug in $banners {
  .banner-#{$slug}[data-loaded="true"] {
    background-image: url(https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,h_768/https://welovespeed.netlify.com/assets/images/banners/#{$slug}.jpg);

    @include media("height>768px") {
      background-image: url(https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,h_1080/https://welovespeed.netlify.com/assets/images/banners/#{$slug}.jpg);
    }

    @include media("height>1080px") {
      background-image: url(https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,h_1260/https://welovespeed.netlify.com/assets/images/banners/#{$slug}.jpg);
    }

    @include media("HDPIscreen", "height>384px") {
      background-image: url(https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,h_1080/https://welovespeed.netlify.com/assets/images/banners/#{$slug}.jpg);
    }

    @include media("HDPIscreen", "height>630px") {
      background-image: url(https://res.cloudinary.com/we-love-speed/image/fetch/c_limit,f_auto,q_auto,h_1260/https://welovespeed.netlify.com/assets/images/banners/#{$slug}.jpg);
    }
  }
}

.photo-credits {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 0.5em;
  background-color: rgba($black, 0.5);
  font-size: 0.625em;

  &,
  a {
    color: $white;
  }
}
