.conference {
  @media (min-width: 30rem) {
    padding: 2rem;
    box-shadow: 0 0 0.5em 0 rgba(230, 40, 39, 0.15);
  }

  @media (min-width: 40rem) {
    padding: 4rem;
  }

  &-title {
    margin-bottom: 1rem;
  }

  &-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 1rem;
  }

  &-excerpt p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-excerpt p:first-child {
    margin-top: 0;
  }

  &-actions {
    margin: 3rem 0 0 0;
  }

  &-speakers {
    display: grid;
    gap: 2rem 4rem;
    width: fit-content;
    margin: 2rem 0;

    @media (min-width: 50rem) {
      grid-template-columns: auto auto;
    }

    &--large {
      @media (min-width: 50rem) {
        grid-template-columns: auto;
        row-gap: 4rem;
      }
    }
  }

  &-speaker {
    display: grid;
    grid-template-columns: 5em auto;
    grid-template-rows: auto auto;
    grid-template-areas: "Pic Name"
      "Description Description";
    gap: 0.5em 1em;

    &--small {
      grid-template-rows: auto;
      grid-template-areas: "Pic Name";
    }

    p {
      margin: 0;
    }

    &-pic {
      grid-area: Pic;
      overflow: hidden;
      border-radius: 50%;
    }
    &-name {
      grid-area: Name;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      position: relative;
      line-height: 1.25;

      sup {
        vertical-align: bottom;
      }

      .text-xs {
        line-height: 1.3;
      }
    }
    &-description {
      grid-area: Description;
    }

    .person-links li {
      display: inline;
    }
  }
}


.conference-header {
  h1 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5rem;
  }
}
