.conference {
  padding: 2rem;
  box-shadow: 0 0 0.5em 0 rgba(230, 40, 39, 0.15);
  &-speaker {
    padding: 2rem;

    p {
      margin: 0;
    }

    &-pic {
      max-width: 6em;
      float: left;
      margin: 0.5em 1em 0.5em 0;
      overflow: hidden;
      border-radius: 50%;
    }
    &-name {
      line-height: 1.25;
      position: relative;
      display: inline-block;
    }
    &-description {
      margin: 0.5em 0;
    }

    .person-links li {
      display: inline;
    }
  }
}
