@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../scss/abstracts" as *;

.person {
  position: relative;

  &-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(14rem, 1fr)
    );
    gap: $global-gutters $global-gutters;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 50rem) {
      max-width: $wrapper-max-width;
      grid-template-columns: repeat(
        auto-fill,
        minmax(18rem, 1fr)
      );
    }
  }

  &-avatar {
    max-width: 5em;
    border-radius: 5em;
    background-color: $hr-color;
  }

  &-links {
    @extend %ul-reset;
    font-size: 0;
    font-size: 0;
    display: inline-block;

    &-container {
      top: -0.3em;
    }

    li {
      font-size: 24px;

      a {
        color: inherit;
        margin: 0;
        padding: 0;
        line-height: 20px;
        width: 24px;
        display: inline-block;
        height: 24px;
      }
    }
  }

  sup {
    vertical-align: middle;
  }

  &:hover {
    z-index: 10;
  }
}

.person-inline {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  vertical-align: text-bottom;

  &-avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.5em;
    background-color: $hr-color;
  }
}
