.person {
  position: relative;
  &-avatar {
    max-width: 5em;
    border-radius: 50%;
  }
  &-links {
    @extend %ul-reset;
    font-size: 0;
    font-size: 0;
    display: inline-block;

    li {
      font-size: 20px;

      a {
        background-color: $default-bg;
        margin: 0;
        padding: 0;
        line-height: 20px;
        width: 20px;
        border-radius: 30%;
        display: inline-block;
        height: 20px;
      }
    }
  }

  sup {
    vertical-align: middle;
  }

  &:hover {
    z-index: 10;
  }
}
