@function url-encode-rgb($string) {
  @if type-of($string) == "color" {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");
  }
  $string: "%23" + $string;
  @return $string;
}

.schedule {
  &-hour {
    text-align: center;
    padding: 5px 1rem;
    td {
      padding: 0 $global-gutters/2;
    }
  }

  border-spacing: 5px;

  &-header {
    display: table-cell;
    background: $default-bg;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
    @include media("<=medium") {
      display: none;
    }

    &:nth-of-type(2),
    &:nth-of-type(3) {
      color: $white;
    }
    &:nth-of-type(2) {
      background-color: $purple;
    }
    &:nth-of-type(3) {
      background-color: $blue;
    }
  }

  &-short,
  &-pause {
    td {
      text-align: center;
    }
    background-color: $pastel-orange;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='#{url-encode-rgb(darken($pastel-orange,10))}' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  &-room {
    display: none;
  }

  &-pause {
    background-color: $pastel-green;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='#{url-encode-rgb(darken($pastel-green,10))}' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    td {
      padding: 1.5rem 1rem;
    }
  }

  @include media("<=medium") {
    &-headers,
    &-talks,
    &-short,
    &-pause,
    &-talks td {
      display: block;
    }
    &-short,
    &-pause {
      td {
        display: inline-block;
      }
    }

    &-room {
      display: inline;
      &::after{
        content: " | "
      }
    }
    &-hour {
      font-size: 1.6em;
    }
  }
}

.talk {
  border: 1px solid #ddd;
  border-radius: $global-gutters/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 290px;
  margin-bottom: 5px;

  header {
    grid-row: 1;
    padding: $global-gutters/2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    &.room1 {
      background-color: $purple;
    }
    &.room2 {
      background-color: $blue;
    }

    h2 {
      font-size: 0.8em;
    }

    .person {
      position: absolute;
      width: 90px;
      height: 90px;
      overflow: hidden;

      @include media("<=medium") {
        width: 50px;
        height: 50px;
      }

      &-avatar {
        max-width: 100%;
      }
    }
  }

  &-summary {
    margin-left: 100px;
    @include media("<=medium") {
      margin-left: 60px;
    }
    color: white;
  }

  h2 {
    font-family: $title-font-family;
    margin: 0;
    color: white;
  }

  &-authors {
    margin: 0;
    margin-top: 4px;
    font-size: 0.7em;
  }

  &-excerpt {
    margin-top: 10px;
    padding: 10px;
    color: $blackred;
    font-size: 0.8em;
    grid-row: 2;
    p {
      margin: 1em 0;
    }
  }

  footer {
    grid-row: 3;
    text-align: right;
    font-size: 0.8em;
    padding: 6px 10px;
    background-color: #efefef;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .link {
      text-decoration: none;
      color: #220a37;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
