@function url-encode-rgb($string) {
  @if type-of($string) == "color" {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");
  }
  $string: "%23" + $string;
  @return $string;
}

.schedule {
  &-hour {
    text-align: center;
    padding: 5px 1rem;
    td {
      padding: 0 $global-gutters/2;
    }
  }

  border-spacing: 5px;

  &-container {
    table-layout: fixed;
  }

  &-header {
    display: table-cell;
    background: $default-bg;
    position: sticky;
    top: 0;
    z-index: 10;
    font-size: 1.1em;
    @include media("<=medium") {
      display: none;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5) {
      color: $white;
    }
  }

  &-headers.rooms-2 th {
    width: 50%;
  }

  &-headers.rooms-4 th {
    width: 25%;
  }

  &-headers th:first-of-type {
    width: auto;
  }

  &-short,
  &-pause {
    td {
      text-align: center;
    }
    background-color: $pastel-orange;
    background-image: url("/assets/images/textures/waves2.svg");
  }

  &-room {
    display: none;
  }

  &-pause {
    background-color: $pastel-green;
    background-image: url("/assets/images/textures/windows2.svg");
    td {
      padding: 1.5rem 1rem;
    }
  }

  @include media("<=medium") {
    &-headers,
    &-talks,
    &-talks td,
    &-short,
    &-pause,
    &-pause td {
      display: block;
    }
    // &-short,
    // &-pause {
    //   td {
    //     display: inline-block;
    //   }
    // }

    &-room {
      display: inline;
      &::before {
        content: " | ";
      }
    }
    &-hour {
      font-size: 1.6em;
    }
  }
}

.talk {
  border: 1px solid #ddd;
  border-radius: $global-gutters/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 300px;
  margin-bottom: 5px;
  text-decoration: none;
  font-style: normal;
  background-color: white;
  text-align: left;

  @include media("<=medium") {
    height: auto;
  }

  header {
    grid-row: 1;
    padding: $global-gutters/2;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    min-height: 10rem;

    @include media("<=medium") {
      min-height: initial;
    }

    h2 {
      font-size: 1.3rem;

      @include media("<=medium") {
        font-size: 1.8rem;
      }
    }

    .person {
      position: absolute;
      width: 4rem;
      height: 6rem;
      overflow: hidden;
      z-index: 9;

      @include media("<=medium") {
        width: 50px;
        height: 50px;
      }

      &-avatar {
        max-width: 100%;
      }

      &-2 {
        width: 4rem;

        &:nth-of-type(2) {
          z-index: 8;
          transform: translate(3rem, 3rem);
        }
      }

      &-3 {
        width: 4rem;

        &:nth-of-type(2) {
          transform: translate(0rem, 4.5rem);

        }

        &:nth-of-type(3) {
          transform: translate(0, 9rem);
        }
      }

      @include media("<=medium") {
        &-3 {
          width: 30px;

          &:nth-of-type(2) {
            transform: translate(20px, 15px);
          }

          &:nth-of-type(3) {
            transform: translate(0, 35px);
          }
        }
      }

      &-4 {
        width: 30px;

        &:nth-of-type(2) {
          transform: translate(35px, 35px);
        }

        &:nth-of-type(3) {
          transform: translate(0, 35px);
        }

        &:nth-of-type(4) {
          transform: translate(35px, 0);
        }
      }
    }
  }

  &-summary {
    margin-left: 5rem;

    &.speakers-0{
      margin-left: 0;
    }

    @include media("<=medium") {
      margin-left: 6rem;
    }

    color: white;
  }

  h2 {
    font-family: $title-font-family;
    margin: 0;
    color: white;
  }

  &-authors {
    margin: 0;
    margin-top: 4px;
    font-size: 1.2rem;

    @include media("<=medium") {
      font-size: 1.5rem;
    }
  }

  &-excerpt {
    margin-top: 10px;
    padding: 10px;
    color: $blackred;
    font-size: 12px;
    grid-row: 2;

    @include media("<=medium") {
      font-size: 16px;
    }

    p {
      margin: 0;
    }
  }

  footer {
    grid-row: 3;
    text-align: right;
    font-size: 0.8em;
    padding: 6px 10px;
    background-color: #efefef;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .link {
      text-decoration: none;
      color: #220a37;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.room1 {
  header,
  &-header {
    background-color: $blue;
    background-image: url("/assets/images/textures/tiny-checkers2.svg");
    box-shadow: 0 2px 8px -1px $blue;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: dargen($blue, 40);
    box-shadow: $blue 0 0 $global-gutters/2;
  }
}
.room2 {
  header,
  &-header {
    background-color: $darkred;
    background-image: url("/assets/images/textures/diagonal-lines2.svg");
    box-shadow: 0 2px 8px -1px $darkred;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: dargen($darkred, 40);
    box-shadow: $darkred 0 0 $global-gutters/2;
  }
}

.room3 {
  header,
  &-header {
    background-color: $purple;
    background-image: url("/assets/images/textures/windows2.svg");
    box-shadow: 0 2px 8px -1px $purple;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: dargen($purple, 40);
    box-shadow: $purple 0 0 $global-gutters/2;
  }
}
.room4 {
  header,
  &-header {
    background-color: $darkgreen;
    background-image: url("/assets/images/textures/windows2.svg");
    box-shadow: 0 2px 8px -1px $darkgreen;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    border-color: dargen($darkgreen, 40);
    box-shadow: $darkgreen 0 0 $global-gutters/2;
  }
}
