@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../vendors/include-media/include-media" as *;

.section {
  position: relative;
  margin: 10% 0;
  z-index: 0;

  @include media(">medium") {
    margin: 5% 0;
  }

  & > .wrapper {
    position: relative;
    z-index: 1;
  }

  &.speakers {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: $darkred;
    color: $white;
    overflow: hidden;

    & .grid-4 {
      margin-top: 80px;
    }

    & h2 {
      max-width: $title-max-width;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.venue {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: $darkred;
    color: $white;
  }
}

.illustration {
  font-size: 4em;
  color: $green;

  @include media(">large") {
    font-size: 3em;
  }
}
