@use "../scss/colors" as *;
@use "../vendors/include-media/include-media" as *;

ul.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  & svg {
    vertical-align: middle;
  }
}

.pre-header {
  & ul.social-links {
    display: none;
    list-style-type: none;
    line-height: 0;
    gap: 1em;
    align-items: center;
    margin: 0;

    a {
      font-size: 1.5em;
    }

    @include media(">=large") {
      display: flex;
    }

    a {
      color: $white;
      &:hover,
      &:focus {
        color: $softred;
      }
    }
  }
}

.page-footer {
  & ul.social-links {
    flex-direction: column;
  }
}
