@use "../scss/colors" as *;
@use "../vendors/include-media/include-media" as *;

ul.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  a {
    font-size: 1.5em;
  }

  .page-nav & {
    flex-wrap: nowrap;
    font-size: 0.5em;
  }
}

.pre-header {
  & ul.social-links {
    display: none;
    list-style-type: none;
    line-height: 0;
    gap: 1em;
    margin: 0;

    @include media(">=large") {
      display: flex;
    }

    a {
      color: $white;
      &:hover,
      &:focus {
        color: $pastel-yellow;
      }
    }
  }
}

.page-footer {
  & ul.social-links {
    margin: 1em 0;
    a {
      color: $default-color;
      &:hover,
      &:focus {
        color: $focus-color;
      }
    }
  }
}
