figure.company {
  margin: 30px;
}

.company {
  padding: 20px 0 20px 0;

  @include media('>=xlarge') {
    padding-left: 0;
  }

  &-logo-big {
    margin: 30px;
  }
  &-logo {
    max-width: 20em; margin: .5em auto 1.6em auto;
  }
  &-name {
    line-height: 1.25;
  }
  &-description {
    margin: .5em 0;
  }
}
