@font-face {
  font-family: Figtree-fallback;
  size-adjust: 100%;
  ascent-override: 95%;
  src: local("Arial");
}

@font-face {
  font-family: Figtree;
  font-weight: 300 800;
  font-display: swap;
  src: url('../fonts/figtree-variable.woff2') format(woff2) tech(variations);
}

@supports not font-tech(variations) {
  @font-face {
    font-family: Figtree;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/figtree-variable.woff2') format('woff2 supports variations'),
      url('../fonts/figtree-variable.woff2') format("woff2-variations");
  }
}

@font-face {
  font-family: "Space Grotesk-fallback";
  size-adjust: 107.6%;
  ascent-override: 90.5%;
  descent-override: 24%;
  src: local("Arial");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 300 700;
  font-display: swap;
  src: url('../fonts/space-grotesk-variable.woff2') format(woff2) tech(variations);
}

@supports not font-tech(variations) {
  @font-face {
    font-family: "Space Grotesk";
    font-weight: 300 700;
    font-display: swap;
    src: url('../fonts/space-grotesk-variable.woff2') format('woff2 supports variations'),
      url('../fonts/space-grotesk-variable.woff2') format("woff2-variations");
  }
}