input,
select,
textarea {
	display: block; width: 100%; margin: $input-vmargin $input-hmargin; padding: 0 0 $input-vpadding $input-hpadding; box-sizing: border-box;
	border: 0 solid $input-border-color; border-width: 0 0 1px 1px; outline: none;
	background-color: $input-bg;
	color: $input-color; font: $input-font-style $input-font-weight 1em/#{$default-line-height} $input-font-family; text-align: left;
	vertical-align: baseline;
	&:focus {
		border-color: $input-focus-border-color;
		background-color: $input-focus-bg;
		color: $input-focus-color;
	}
}

label {
  font-size: $label-font-size; color: $label-color;
}

.form-row {
  display: flex;
  flex-flow: row nowrap; justify-content: flex-start; align-items: center;
}
