@use "../scss/config" as *;
@use "../scss/colors" as *;
@use "../vendors/include-media/include-media" as *;

[class*=" grid-"],
[class^="grid-"] {
  --grid-item-min-width: 1fr;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-item-min-width), 1fr)
  );
  grid-gap: $global-gutters ($global-gutters + 2rem);
  justify-items: start;
  align-items: center;

  & > * {
    min-width: 0;
  }

  figure {
    margin: 0 0 auto 0;
  }
}

@for $i from 1 through 10 {
  $x: calc($wrapper-max-width / $i) - $global-gutters - 1;

  @include media(">#{$x}") {
    .grid-#{$i} {
      --grid-item-min-width: #{$x};
    }
  }
}

.grid-item-full {
  grid-column: 1 / -1;
}

.grid-gold-sponsors {
  --grid-item-min-width: 40rem;

  @include media("<large") {
    --grid-item-min-width: 26rem;
  }
}

.grid-other-sponsors {
  --grid-item-min-width: 20rem;

  @include media("<large") {
    --grid-item-min-width: 15rem;
  }

  @include media("<medium") {
    --grid-item-min-width: 13rem;
  }

  @include media(">=large") {
    .unique-thank {
      grid-column: 2;
    }
  }
}

.grid-gold-sponsors,
.grid-other-sponsors {
  figure {
    margin: 0;
  }
}

.cols {
  &-33-66 {
    @include media(">=medium") {
      grid-template-columns: 1fr 2fr;
    }
  }
  &-xs-auto {
    grid-gap: 2.4rem;
    grid-template-columns: 100%;

    & + & {
      margin-top: 2.4rem;
    }

    @include media(">=medium") {
      grid-template-columns: 100px auto;
      & + & {
        margin-top: 3.6rem;
      }
    }
  }
  &-v-split {
    padding: 3.2rem 0;
    border-top: 1px solid $softgrey;

    &:last-child {
      border-bottom: 1px solid $softgrey;
    }
  }
  &-avatar {
    aspect-ratio: 292/400;
    border-radius: 15px;
    overflow: hidden;
  }
  &-x48 {
    grid-gap: 4.8rem;
  }
}
