[class*=" grid-"],
[class^="grid-"] {
  --grid-item-min-width: 1fr;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-item-min-width), 1fr)
  );
  grid-gap: $global-gutters ($global-gutters + 1rem);
  justify-items: stretch;
  align-items: center;

  & > * {
    min-width: 0;
  }

  figure {
    margin: 0 0 auto 0;
  }
}

@for $i from 1 through 10 {
  $x: ($wrapper-max-width / $i) - $global-gutters;

  @include media(">#{$x}") {
    .grid-#{$i} {
      --grid-item-min-width: #{$x};
    }
  }
}

.grid-item-full {
  grid-column: 1 / -1;
}

.grid-other-sponsors {
  @include media("<large") {
    --grid-item-min-width: 15rem;
  }

  @include media(">=large") {
    .unique-thank {
      grid-column: 2;
    }
  }
}
