/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
	background: $default-bg;
}

::-moz-selection {
	background: $selection-bg;
	color: $selection-color; text-shadow: none;
	fill: $selection-color;
}

::selection {
	background: $selection-bg;
	color: $selection-color; text-shadow: none;
	fill: $selection-color;
}

hr {
	height: 0; margin: $default-line-height * 1em 0; padding: 0;
	border: 0; border-bottom: 1px solid $hr-color;
}

audio, canvas, iframe, img, video {
	vertical-align: middle;
}

fieldset {
	margin: 0; padding: 0;
	border: 0;
}

a, button, input, select {
	transition: $default-duration $default-timing-function;
}

textarea {
  resize: vertical;
  transition: $default-duration $default-timing-function, height 0s;
}

button {
	color: inherit;
	cursor: pointer;
}

abbr[title] {
	text-decoration: none;
}

blockquote {
  padding: $global-gutters/2 0 $global-gutters/2 $global-gutters;
  border-left: .25em solid $blockquote-border-color;
  font-style: italic;
  p {
    margin: 0;
  }
}

figure {
	margin: 0;
}

img {
	width: 100%; height: auto;
}

svg {
	display: inline-block; width: 1em; height: 1em;
	fill: currentColor;
	vertical-align: baseline;
}

a svg,
button svg {
	text-decoration: none;
	pointer-events: none;
}
