/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../scss/mixins" as *;

:root {
  scroll-behavior: smooth;
}

body {
  background: $default-bg;
}

::-moz-selection {
  background: $selection-bg;
  color: $selection-color;
  text-shadow: none;
  fill: $selection-color;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
  text-shadow: none;
  fill: $selection-color;
}

hr {
  height: 0;
  margin: $default-line-height * 1em 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid $hr-color;
}

audio,
canvas,
iframe,
img,
video {
  vertical-align: middle;
}

ul {
  list-style-type: circle;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
button,
input,
select {
  @include transition();
}

textarea {
  resize: vertical;
  @include transition("$default-duration $default-timing-function, height 0s");
}

button {
  color: inherit;
  cursor: pointer;
}

blockquote,
address {
  padding: $half-gutters 0 $half-gutters $global-gutters;
  border-left: 0.25em solid $blockquote-border-color;
  font-style: italic;
  p {
    margin: 0;
  }

  &.other-lang {
    border-left-color: lighten($blockquote-border-color, 20);
  }
}

dd {
  margin: $half-gutters 0 $global-gutters;
  padding-left: $global-gutters;
  border-left: 1px solid $blockquote-border-color;
  font-style: italic;
  p {
    margin: 0;
  }

  &.other-lang {
    border-left-color: lighten($blockquote-border-color, 20);
  }

  address,
  blockquote {
    border-color: transparent;
    padding: 0;
  }
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: baseline;
}

a svg,
button svg {
  text-decoration: none;
  pointer-events: none;
}

*[id] {
  scroll-margin-top: 9rem;

  @media (min-width: 50rem) {
    scroll-margin-top: 2rem;
  }
}
