@use "../scss/colors" as *;
@use "../scss/config" as *;
@use "../vendors/include-media/include-media" as *;

html,
input,
textarea,
select {
  font-family: $default-font-family;
  font-style: $default-font-style;
  font-weight: $default-font-weight;
  line-height: $default-line-height;
  color: $default-color;
}

html {
  font-size: 0.625em; /* fallback IE8+ */
  font-size: calc(
    1em * 0.625
  ); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  font-size: 1.8 * $default-font-size;
}

h1,
h2,
.h-like {
  font-family: $title-font-family;
  font-style: $title-font-style;
  font-weight: 700;
  line-height: $title-line-height;
  text-wrap: balance;
}

h3,
h4,
h5,
h6 {
  font-family: $default-font-family;
  font-style: $default-font-style;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-like {
  color: $title-color;
}

h1 {
  font-size: 4rem;
  @include media(">=medium") {
    font-size: 5.6rem;
  }
  @include media(">=large") {
    font-size: 6.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  @include media(">=medium") {
    font-size: 4rem;
  }
  @include media(">=large") {
    font-size: 5.6rem;
  }
}

h3 {
  font-size: 2.4rem;
  margin-top: 0;
  @include media(">=medium") {
    font-size: 3.2rem;
  }
  @include media(">=large") {
    font-size: 4rem;
  }
}



p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
caption {
  margin: $default-line-height * 0.5em 0;
}

dt {
  margin-top: $default-line-height * 1em;
}

strong,
b,
dt {
  font-weight: $font-weight-bold;
}

a,
.underlined,
button.btn--link-like {
  font-style: normal;
  color: $link-color;
  text-decoration: none;
  text-decoration: underline solid rgba($link-color, 0.25);
  text-decoration-skip: ink;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

// Typo helpers ---------------------------------------------------------------

.h-reset,
.text-reset {
  font: inherit;
  color: $default-color;
}

.h-smallcap {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 140%;
  margin-bottom: .8rem;
}

.h-reset {
  margin: initial;
  padding: 0;
}
@each $size in $font-sizes {
  $class: map-get($size, "class");
  $size: map-get($size, "size");

  .text-#{$class} {
    font-size: $size;
  }
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-bold {
  font-weight: $font-weight-bold;
}
.text-italic {
  font-style: italic;
}
.text-nowrap {
  white-space: nowrap;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-wrap {
  word-break: break-all;
  hyphens: auto;
}
.text-focus {
  color: $focus-color;
}

.text-valid {
  color: $valid;
}
.required,
.text-warning {
  color: $warning;
}
.text-alert {
  color: $alert;
}
.text-inactive {
  color: $inactive;
}

.mb-0 {
  margin-bottom: 0;
}

.line-through {
  text-decoration: line-through;
}

li > p:first-child {
  margin-top: 0;
}

li > p:has(+ ul) {
  margin-bottom: 0;
}

li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.sub-title {
  color: $red;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin-bottom: 1.2rem;

  & + h2 {
    margin-top: 0;
    color: $black;
  }
}


.light {
  color: $white;
  & + h2 {
    color: $white;
  }
}

